Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

Revert "chore(ingestion-edge): stop failing CI on sub-100% coverage"
  ingestion-edge/bin/pytest-all
Due: ingestion_edge

feat(ingestion-edge): allow flush-manager to run under restricted PSS and inherit node scheduling (#2961)
  ingestion-edge/bin/pytest-all
  ingestion-edge/ingestion_edge/flush_manager.py
  ingestion-edge/tests/unit/flush_manager/test_create_job.py
Due: ingestion_edge

[ci skip] Deployed 31868500 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[DENG-11464] Drop third-party-module pings with unsanitized dll paths
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

[ci skip] Deployed a552abec with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

chore(ingestion-edge): Remove unneeded `aiohttp` dependency.
  ingestion-edge/requirements.in
  ingestion-edge/requirements.txt
Due: ingestion_edge

chore(ingestion-edge): Remove unneeded `aiohttp` dependency. (#2967)
  ingestion-edge/requirements.in
  ingestion-edge/requirements.txt
Due: ingestion_edge

[ci skip] Deployed ced4daa1 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

test(ingestion-edge): Ensure complete code coverage of `Flush.run_forever`.
  ingestion-edge/tests/unit/flush/test_flush.py
Due: ingestion_edge

test(ingestion-edge): Ensure complete code coverage of `Flush.run_forever`. (#2968)
  ingestion-edge/tests/unit/flush/test_flush.py
Due: ingestion_edge

[ci skip] Deployed 0d8680c5 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Doc updates
  docs/ingestion-beam/decoder-job.md
Due: none

feat(contextualservices): Skip reporting pings for Moz-supplied, non-AMP suggest interactions
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterMozAdsInteractions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterMozAdsInteractionsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Add test for Main class of contextualservices job
  ingestion-beam/src/test/java/com/mozilla/telemetry/ContextualServicesReporterMainTest.java
  ingestion-beam/src/test/resources/contextualServices/suggestReportingInput.ndjson
Due: ingestion_beam

Update to better name for filtered non-amp ads counter
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterMozAdsInteractions.java
Due: ingestion_beam

[SPONS-323] Skip contextualservices reporting for Moz-supplied, non-AMP interactions (#2976)
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterMozAdsInteractions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/ContextualServicesReporterMainTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterMozAdsInteractionsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-beam/src/test/resources/contextualServices/suggestReportingInput.ndjson
Due: ingestion_beam

[ci skip] Deployed 0e400deb with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Narrow filter to only suggest report urls, and fix to emit counters after filtering
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterMozAdsInteractions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterMozAdsInteractionsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Rename filters, helpers, and classes for clarity
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterMozAdsSuggestPlaceholders.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterMozAdsSuggestPlaceholdersTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

[SPONS-331] Skip contextualservices reporting for suggest-specific placeholder urls only (#2978)
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterMozAdsSuggestPlaceholders.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterMozAdsSuggestPlaceholdersTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

[ci skip] Deployed b0f31a02 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[Bug 2049744] Scrub crash ping Java exception messages
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

update bug
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

[ci skip] Deployed 70afcc1b with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[Bug 2074273] Strip client_info/ping_info from quick-suggest pings:
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

scrub urlbar-keyword-exposure
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Scrub fenix fx-suggest and fx-suggest-api
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

[ci skip] Deployed 65efa337 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Stop silently dropping OHTTP quick-suggest pings that have no user agent
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/VerifyMetadata.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/ContextualServicesReporterMainTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterByDocTypeTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/VerifyMetadataTest.java
  ingestion-beam/src/test/resources/contextualServices/ohttpSuggestReportingInput.ndjson
Due: ingestion_beam

Lint
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/VerifyMetadata.java
Due: ingestion_beam

Update tests to fully cover filtering cases
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterByDocTypeTest.java
Due: ingestion_beam

hotfix: Stop silently dropping OHTTP quick-suggest pings that have no user agent (#2983)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/VerifyMetadata.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/ContextualServicesReporterMainTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterByDocTypeTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/VerifyMetadataTest.java
  ingestion-beam/src/test/resources/contextualServices/ohttpSuggestReportingInput.ndjson
Due: ingestion_beam
