Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

[ci skip] Deployed 36c62df3 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Remove custom-set Snappy version
  pom.xml
Due: none

[ci skip] Deployed 5a716e1b with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 38745f28 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 2577c9bc with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Add test
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ExtractIpFromLogEntryTest.java
  ingestion-beam/src/test/resources/testdata/logentry_malformed.ndjson
Due: ingestion_beam

Fix handling of malformed log messages in ExtractIpFromLogEntry
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ExtractIpFromLogEntry.java
Due: ingestion_beam

Add more tests
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ExtractIpFromLogEntryTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseLogEntryTest.java
Due: ingestion_beam

cleanup
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ExtractIpFromLogEntry.java
Due: ingestion_beam

reduce duplication
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ExtractIpFromLogEntry.java
Due: ingestion_beam

Fix handling of malformed log messages (#2693)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ExtractIpFromLogEntry.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ExtractIpFromLogEntryTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseLogEntryTest.java
  ingestion-beam/src/test/resources/testdata/logentry_malformed.ndjson
Due: ingestion_beam

[ci skip] Deployed d4990f2f with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 5058a75f with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Gracefully handle duplicate query keys in contextual services pipeline
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/BuildReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/BuildReportingUrlTest.java
Due: ingestion_beam

Remove unneeded test pipeline
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/BuildReportingUrlTest.java
Due: ingestion_beam

Fix import order
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/BuildReportingUrlTest.java
Due: ingestion_beam

Fix whitespace
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/BuildReportingUrl.java
Due: ingestion_beam

Fix styling
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/BuildReportingUrlTest.java
Due: ingestion_beam

Gracefully handle duplicate query keys in contextual services pipeline (#2697)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/BuildReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/BuildReportingUrlTest.java
Due: ingestion_beam

[ci skip] Deployed e59c5f5d with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 50eb31f6 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Bug 1930793 - Block com-feifan-chrome-ios-dev namespace
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1930793 - Block com-feifan-chrome-ios-dev namespace (#2702)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 773255c3 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 0a4b41d1 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/stylesheets/main.0253249f.min.css
  assets/stylesheets/main.0253249f.min.css.map
  assets/stylesheets/main.6f8fc17f.min.css
  assets/stylesheets/main.6f8fc17f.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 1d9dc423 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed ed2983ba with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Bug 1933847 - ParseUri updates needed for stub installer exit code enhancements
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

Formatting
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

[ci skip] Deployed 8ed1d0a9 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Formatting trick
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

One more formatter fix
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

Bug 1933847 - ParseUri updates needed for stub installer exit code enhancements (#2707)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

[ci skip] Deployed 232be02b with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
