Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

Fix issue with click aggregation. Test fixes
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/VerifyMetadataTest.java
Due: ingestion_beam

Spotless and Checkstyle were fighting so
  checkstyle/checks.xml
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/AggregateImpressions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelClickSpikes.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SendRequest.java
Due: ingestion_beam

Mostly cleaning up imports and some review feedback. still working on tests.
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/AggregateImpressions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelClickSpikes.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SendRequest.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteractionCoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/AggregateImpressionsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterByDocTypeTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/LabelClickSpikesTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/SendRequestTest.java
Due: ingestion_beam

Addressing review comments
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/AggregateImpressions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/EmitCounters.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelClickSpikes.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/UnexpectedPayloadException.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

ARGH SPOTLESS
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/VerifyMetadataTest.java
Due: ingestion_beam

Fix issue with context_id and broken test
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Add tests for new pubsub message structure
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/EmitCounters.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Addressing review comments.
  checkstyle/checks.xml
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/AggregateImpressions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/LabelClickSpikesTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/SendRequestTest.java
Due: ingestion_beam

Fixing errant `getCoder`
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Goodbye additional attributes you won't be missed
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
Due: ingestion_beam

Add line length suppressions to the class declarations that violate the checkstyle rule.
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelClickSpikes.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SendRequest.java
Due: ingestion_beam

Add additional attributes map to sponsored interaction
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
Due: ingestion_beam

Update ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelClickSpikes.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelClickSpikes.java
Due: ingestion_beam

Fix the VerifyMetadata namespace check and add a test.
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/VerifyMetadata.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/VerifyMetadataTest.java
Due: ingestion_beam

Code formatter fixes
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/AggregateImpressions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ContextualServicesReporterOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/EmitCounters.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelClickSpikes.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SendRequest.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/AggregateImpressionsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterByDocTypeTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/LabelClickSpikesTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/SendRequestTest.java
Due: ingestion_beam

[CONSVC-1636] Support glean based telemetry in ContextualServicesReporter
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/AggregateImpressions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ContextualServicesReporterOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/EmitCounters.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelClickSpikes.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SendRequest.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteractionCoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/VerifyMetadata.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterByDocTypeTest.java
Due: ingestion_beam

Addressing more review comments after running in dev
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/InvalidAttributeException.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelClickSpikes.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/VerifyMetadata.java
Due: ingestion_beam

PR comments, Fixing tests, CODERS AND SCHEMAS
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/AggregateImpressions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/EmitCounters.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelClickSpikes.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SendRequest.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/AggregateImpressionsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterByDocTypeTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/LabelClickSpikesTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/SendRequestTest.java
Due: ingestion_beam

Make using the derived docType more explicit
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/EmitCounters.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Code formatting and Moving to a custom Exception for invalid Attributes.
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/AggregateImpressions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/InvalidAttributeException.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/LabelClickSpikesTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Update docs/ingestion-beam/index.md
  docs/ingestion-beam/index.md
Due: none

Update description for new streaming jobs (#2056)
  docs/ingestion-beam/index.md
Due: none

[ci skip] Deployed f90917b4 with MkDocs version: 1.3.0
  ingestion-beam/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam

[CONSVC-1636] Support glean based telemetry in ContextualServicesReporter (#2049)
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/AggregateImpressions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ContextualServicesReporterOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/EmitCounters.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/InvalidAttributeException.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelClickSpikes.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SendRequest.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/UnexpectedPayloadException.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/VerifyMetadata.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/AggregateImpressionsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterByDocTypeTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/LabelClickSpikesTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/SendRequestTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/VerifyMetadataTest.java
Due: ingestion_beam

[ci skip] Deployed e91ea8c4 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

Allow empty user agent string from Glean on Desktop
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Update ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Update test - allow missing user agent attribute
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

reformat
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1766424 - Allow empty user agent string from Glean on Desktop (#2063)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

[ci skip] Deployed 320fbfcf with MkDocs version: 1.3.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.6e54b5cd.min.js
  assets/javascripts/bundle.6e54b5cd.min.js.map
  assets/javascripts/bundle.748e2769.min.js
  assets/javascripts/bundle.748e2769.min.js.map
  assets/stylesheets/main.120efc48.min.css
  assets/stylesheets/main.120efc48.min.css.map
  assets/stylesheets/main.8c5ef100.min.css
  assets/stylesheets/main.8c5ef100.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Bug 1766424 Allow new-style Glean header for desktop
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

[ci skip] Deployed c93627cb with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 2037c7b0 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed 6fcf1b67 with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Remove explicit versioning of google-cloud-pubsublite
  ingestion-sink/pom.xml
Due: ingestion_sink

[ci skip] Deployed c0890821 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed 9c7b7abc with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none
