Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

Downgrade beam from 2.36.0 to 2.35.0
  pom.xml
Due: none

Downgrade beam from 2.36.0 to 2.35.0 (#2002)
  pom.xml
Due: none

[ci skip] Deployed d1ef9ffe with MkDocs version: 1.2.3
  sitemap.xml
  sitemap.xml.gz
Due: none

Revert "Downgrade beam from 2.36.0 to 2.35.0 (#2002)"
  pom.xml
Due: none

[ci skip] Deployed e59d5777 with MkDocs version: 1.2.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.8aa65030.min.js
  assets/javascripts/bundle.8aa65030.min.js.map
  assets/javascripts/bundle.b88e97c5.min.js
  assets/javascripts/bundle.b88e97c5.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed fd89b0e3 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 133aabf4 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 3ced605a with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

Add back bracket
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Revert whitespace
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Spotless
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Disallow search terms ingestion via telemetry (#1936)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

[ci skip] Deployed b7765aa6 with MkDocs version: 1.2.3
  sitemap.xml
  sitemap.xml.gz
Due: none

Scrub apps
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 461cdc79 with MkDocs version: 1.2.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.467223ff.min.js
  assets/javascripts/bundle.467223ff.min.js.map
  assets/javascripts/bundle.b88e97c5.min.js
  assets/javascripts/bundle.b88e97c5.min.js.map
  assets/stylesheets/main.2d9f7617.min.css
  assets/stylesheets/main.2d9f7617.min.css.map
  assets/stylesheets/main.e8d9bf0c.min.css
  assets/stylesheets/main.e8d9bf0c.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 4cfc117d with MkDocs version: 1.2.3
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed a70643f8 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 089ca3a8 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed e776482a with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 927bec59 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 7980d476 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed a4dc8f84 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 10843e51 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 31ed1d15 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 1da7e0df with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 01fc1b75 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed f26af773 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[1754044] Add support for expiration_policy.collect_through_date
  ingestion-beam/bin/download-schemas
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParsePayload.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParsePayloadTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStore.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStoreTest.java
  ingestion-core/src/test/resources/schema/test-schemas/schemas/namespace_0/bar/bar.1.schema.json
Due: ingestion_beam, ingestion_core, ingestion_sink

[1754044] Add support for expiration_policy.collect_through_date (#2024)
  ingestion-beam/bin/download-schemas
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParsePayload.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParsePayloadTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStore.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStoreTest.java
  ingestion-core/src/test/resources/schema/test-schemas/schemas/namespace_0/bar/bar.1.schema.json
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed 58a03343 with MkDocs version: 1.2.3
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 66a71574 with MkDocs version: 1.2.3
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed cc436a30 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed ee2e416c with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 9da460a4 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed cf2158a0 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 30627499 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

Bug 1737861 Tag pings from BrowserStack ISP as automation
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Add non-tagged test
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam
