Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

Bug 2017610 - Add metric to record Desktop Launcher installation status (#2904)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

[ci skip] Deployed 8d7a9649 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

fix(ingestion-sink): Disable Log4j JMX to fix test failure on cgroups v2
  ingestion-sink/Dockerfile
Due: ingestion_sink

fix(ingestion-sink): Disable Log4j JMX to fix test failure on cgroups v2 (#2905)
  ingestion-sink/Dockerfile
Due: ingestion_sink

[ci skip] Deployed 3ffab5ea with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

fix(ci): Use repo root as build context for ingestion-sink
  .github/workflows/build-and-push.yaml
Due: none

wip: run action on PR to test
  .github/workflows/build-and-push.yaml
Due: none

Revert "wip: run action on PR to test"
  .github/workflows/build-and-push.yaml
Due: none

fix(ci): Use repo root as build context for ingestion-sink (#2903)
  .github/workflows/build-and-push.yaml
Due: none

Bug 2019207 - Record a metric indicating whether a profile already exists in the stub installer ping
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

Bug 2019207 - Record a metric indicating whether a profile already exists in the stub installer ping (#2906)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

[ci skip] Deployed a9aec26b with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 92fdd469 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

DENG-10814 - Coerce null string_list values to empty arrays for ads-backend backfill
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Fix namespace
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Fix test
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

chore(DENG-10828, DENG-10829): scrub unwanted namespaces
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

chore(DENG-10828, DENG-10829): scrub unwanted namespaces (#2914)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed ce360363 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

chore(ci): Enable latest tag
  .github/workflows/build-and-push.yaml
Due: none

chore(ci): Enable latest tag (#2915)
  .github/workflows/build-and-push.yaml
Due: none

[ci skip] Deployed a06a7bf9 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

fix(ingestion-sink): Pass Log4j JMX disable flag to forked test JVM
  pom.xml
Due: none

fix(ingestion-sink): Pass Log4j JMX disable flag to forked test JVM (#2916)
  pom.xml
Due: none

Add tests
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ExtractIpFromDirectPubsubTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseDirectPubsubTest.java
  ingestion-beam/src/test/resources/testdata/directpubsub.ndjson
  ingestion-beam/src/test/resources/testdata/directpubsub_malformed.ndjson
Due: ingestion_beam

DENG-9533 - Support ingesting Glean server pings submitted directly to Pub/Sub
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ExtractIpFromDirectPubsub.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseDirectPubsub.java
Due: ingestion_beam

lint
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseDirectPubsubTest.java
Due: ingestion_beam

update architecture diagram
  docs/architecture/diagram.svg
Due: none

fix: split build-and-push into per-project workflows with path filters
  .github/workflows/build-and-push-edge.yaml
  .github/workflows/build-and-push-sink.yaml
Due: none

Update .github/workflows/build-and-push-sink.yaml
  .github/workflows/build-and-push-sink.yaml
Due: none

fix: split build-and-push into per-project workflows with path filters (#2920)
  .github/workflows/build-and-push-edge.yaml
  .github/workflows/build-and-push-sink.yaml
Due: none

[ci skip] Deployed 87bb3f47 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

chore(beam): Ignore `com-ziniao-smanager` namespace (bug 2032228).
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

chore(beam): Ignore `com-ziniao-smanager` namespace (bug 2032228). (#2922)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 7f669102 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

chore(beam): Ignore `com-codeedge-childrenfence` namespace (bug 2034078).
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[DENG-10434] Remove ip_reputation usage
  docs/architecture/decoder_service_specification.md
  docs/architecture/edge_service_specification.md
  docs/ingestion-edge/index.md
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/transform/NestedMetadata.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/NestedMetadataTest.java
  ingestion-edge/metadata_headers.json
Due: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink
