Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

[ci skip] Deployed b70f6120 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

Move to dependencyManagement since we don't directly use snappy
  pom.xml
Due: none

Update Snappy dep for Apple Silicon
  pom.xml
Due: none

Update Snappy dep for Apple Silicon (#1935)
  pom.xml
Due: none

[ci skip] Deployed 61e2cdda with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed ca79c374 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed bda2f7b8 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 0c0795ac with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 9125e169 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

Bug 1745742 - Mark pings sent from com-pando-pandobrowser as UnwantedData (#1931)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed b86c6f49 with MkDocs version: 1.2.3
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed e42c4481 with MkDocs version: 1.2.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.289a2a4b.min.js
  assets/javascripts/bundle.289a2a4b.min.js.map
  assets/javascripts/bundle.5e13d264.min.js
  assets/javascripts/bundle.5e13d264.min.js.map
  assets/javascripts/workers/search.361d90f1.min.js
  assets/javascripts/workers/search.361d90f1.min.js.map
  assets/javascripts/workers/search.b6ff8c07.min.js
  assets/javascripts/workers/search.b6ff8c07.min.js.map
  assets/stylesheets/main.bb3983ee.min.css
  assets/stylesheets/main.bb3983ee.min.css.map
  assets/stylesheets/main.ee0f47ba.min.css
  assets/stylesheets/main.ee0f47ba.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 248ed229 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 35f708b6 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 5d941ff0 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed b4d441bf with MkDocs version: 1.2.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.1514a9a0.min.js
  assets/javascripts/bundle.1514a9a0.min.js.map
  assets/javascripts/bundle.5e13d264.min.js.map
  assets/javascripts/workers/search.22074ed6.min.js
  assets/javascripts/workers/search.22074ed6.min.js.map
  assets/javascripts/workers/search.b6ff8c07.min.js.map
  assets/stylesheets/main.cd566b2a.min.css
  assets/stylesheets/main.cd566b2a.min.css.map
  assets/stylesheets/main.ee0f47ba.min.css
  assets/stylesheets/main.ee0f47ba.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed beeed9ae with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed c67c21a7 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 172fc317 with MkDocs version: 1.2.3
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed f6268730 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 824535c6 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

SUGGEST-178 Click and impression counters for Merino specifically
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/EmitCounters.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed 1a664577 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

Round any floating point event timestamps.
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParsePayload.java
Due: ingestion_beam

Bug 1751034 Rename url -> url2 even if no url field exists
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNode.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNodeBeamTest.java
Due: ingestion_beam, ingestion_core, ingestion_sink

SUGGEST-178 Click and impression counters for Merino specifically (#1952)
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/EmitCounters.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed c8c676ff with MkDocs version: 1.2.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.01de222e.min.js
  assets/javascripts/bundle.01de222e.min.js.map
  assets/javascripts/bundle.1514a9a0.min.js
  assets/javascripts/bundle.1514a9a0.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Bug 1751034 Rename url -> url2 even if no url field exists (#1953)
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNode.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNodeBeamTest.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed 266931b3 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 5fcb8975 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 72daa3e7 with MkDocs version: 1.2.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.01de222e.min.js
  assets/javascripts/bundle.01de222e.min.js.map
  assets/javascripts/bundle.960e086b.min.js
  assets/javascripts/bundle.960e086b.min.js.map
  assets/stylesheets/main.6e60f8b8.min.css
  assets/stylesheets/main.6e60f8b8.min.css.map
  assets/stylesheets/main.cd566b2a.min.css
  assets/stylesheets/main.cd566b2a.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Bug 1751753 Sanitize search engine codes
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Remove concurrent modification issue
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Update list for additions
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Split out redacted value to a constant
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Use other.scrubbed as redaction value
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Update test to match new placeholder value
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Mark counter when sanitizing search keys
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Apply suggestions from code review
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Add comments about each engine
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam
