Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

[ci skip] Deployed 29b54a93 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed a1490af7 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 9e17cf96 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 9f57fe20 with MkDocs version: 1.2.3
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 8dce463c with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

Update readme to reflect Java 11 being used.
  README.md
Due: none

Update readme to reflect Java 11 being used. (#1985)
  README.md
Due: none

[ci skip] Deployed 71c108d1 with MkDocs version: 1.2.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.5a9542cf.min.js
  assets/javascripts/bundle.5a9542cf.min.js.map
  assets/javascripts/bundle.e3b2bf44.min.js
  assets/javascripts/bundle.e3b2bf44.min.js.map
  assets/stylesheets/main.50e68009.min.css
  assets/stylesheets/main.50e68009.min.css.map
  assets/stylesheets/main.d6be258b.min.css
  assets/stylesheets/main.d6be258b.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Bug 1754007 - Mark pings sent from net-decentr-browser as UnwantedData
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1752883 - Mark pings from com-wqty-browser as UnwantedData
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1754042 - Mark pings from com-valvesoftware-android-steam-community as UnwantedData
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 0624e897 with MkDocs version: 1.2.3
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 603b9a4c with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed d6c3795a with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 3d7808de with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 393887c3 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 3a7405fc with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

Bug 1752883 - Mark pings from com-wqty-browser as UnwantedData (#1987)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed e957bbe0 with MkDocs version: 1.2.3
  sitemap.xml
  sitemap.xml.gz
Due: none

Bug 1754007 - Mark pings sent from net-decentr-browser as UnwantedData (#1986)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 50a7685c with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed b88da84c with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed f9c491ba with MkDocs version: 1.2.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.5a9542cf.min.js
  assets/javascripts/bundle.5a9542cf.min.js.map
  assets/javascripts/bundle.8aa65030.min.js
  assets/javascripts/bundle.8aa65030.min.js.map
  assets/javascripts/workers/search.092fa1f6.min.js
  assets/javascripts/workers/search.092fa1f6.min.js.map
  assets/javascripts/workers/search.bd0b6b67.min.js
  assets/javascripts/workers/search.bd0b6b67.min.js.map
  assets/stylesheets/main.50e68009.min.css
  assets/stylesheets/main.50e68009.min.css.map
  assets/stylesheets/main.e8d9bf0c.min.css
  assets/stylesheets/main.e8d9bf0c.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 89995ab8 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 590113c4 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 1ca57492 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

Updating test
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Switch Exception Class from AffectedByBug to UnwantedDataException
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Switch exception class from AffectedByBug to UnwantedDataException (#1998)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

[ci skip] Deployed 52ea9b08 with MkDocs version: 1.2.3
  sitemap.xml
  sitemap.xml.gz
Due: none

Update googleapis-common-protos
  ingestion-edge/requirements.txt
Due: ingestion_edge

Update googleapis-common-protos (#1999)
  ingestion-edge/requirements.txt
Due: ingestion_edge

[ci skip] Deployed edbe3e69 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

Remove bad --upgrade flag in pip install command
  ingestion-edge/bin/build
Due: ingestion_edge

Remove bad --upgrade flag in pip install command (#2000)
  ingestion-edge/bin/build
Due: ingestion_edge

[ci skip] Deployed 0dff9002 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

Don't have pip resolve and install dependencies.
  ingestion-edge/bin/build
Due: ingestion_edge

Don't have pip resolve and install dependencies. (#2001)
  ingestion-edge/bin/build
Due: ingestion_edge

[ci skip] Deployed ba1d0c35 with MkDocs version: 1.2.3
  sitemap.xml
  sitemap.xml.gz
Due: none

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
