Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

skip two addresses for google proxies
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseProxy.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/util/ProxyMatcher.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseProxyTest.java
Due: ingestion_beam

wat
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseProxy.java
Due: ingestion_beam

waatt
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseProxy.java
Due: ingestion_beam

🤔
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseProxy.java
Due: ingestion_beam

hmm
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseProxy.java
Due: ingestion_beam

.
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseProxy.java
Due: ingestion_beam

[ci skip] Deployed bd8fe422 with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed bba927f8 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 9b923c67 with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 24522dc3 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 3859d25f with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 8862ec68 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 79c87533 with MkDocs version: 1.4.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.51198bba.min.js
  assets/javascripts/bundle.51198bba.min.js.map
  assets/javascripts/bundle.fac441b0.min.js
  assets/javascripts/bundle.fac441b0.min.js.map
  assets/javascripts/lunr/min/lunr.hy.min.js
  assets/javascripts/lunr/min/lunr.ko.min.js
  assets/javascripts/lunr/wordcut.js
  assets/stylesheets/main.85bb2934.min.css
  assets/stylesheets/main.85bb2934.min.css.map
  assets/stylesheets/main.ded33207.min.css
  assets/stylesheets/main.ded33207.min.css.map
  assets/stylesheets/palette.a0c5b2b5.min.css
  assets/stylesheets/palette.a0c5b2b5.min.css.map
  assets/stylesheets/palette.a6bdf11c.min.css
  assets/stylesheets/palette.a6bdf11c.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Scrub com-readboy-firefox and website-carbon-ios-browser
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed bb10f627 with MkDocs version: 1.4.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.c2be25ad.min.js
  assets/javascripts/bundle.c2be25ad.min.js.map
  assets/javascripts/bundle.fac441b0.min.js
  assets/javascripts/bundle.fac441b0.min.js.map
  assets/javascripts/lunr/min/lunr.kn.min.js
  assets/javascripts/lunr/min/lunr.sa.min.js
  assets/javascripts/lunr/min/lunr.te.min.js
  assets/javascripts/lunr/min/lunr.zh.min.js
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed c78f371f with MkDocs version: 1.4.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.b4d07000.min.js
  assets/javascripts/bundle.b4d07000.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 888b9f6a with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 6a3245cb with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 3382f4a1 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 0caae0fa with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 7bc0ca09 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 91343fb4 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 12607e3f with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 69031933 with MkDocs version: 1.4.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 2b44a78b with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed cb4602a5 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed b1b1ac47 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed e8a43ac2 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed bea2aee9 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 3c46ed29 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed c66e5803 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed f38d7fba with MkDocs version: 1.4.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/stylesheets/main.26e3688c.min.css
  assets/stylesheets/main.26e3688c.min.css.map
  assets/stylesheets/main.85bb2934.min.css
  assets/stylesheets/main.85bb2934.min.css.map
  assets/stylesheets/palette.a6bdf11c.min.css
  assets/stylesheets/palette.a6bdf11c.min.css.map
  assets/stylesheets/palette.ecc896b0.min.css
  assets/stylesheets/palette.ecc896b0.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed db54c9b0 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed fdbe2c5d with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

Simplify proxy handling
  docs/architecture/edge_service_specification.md
  docs/architecture/overview.md
  docs/ingestion-beam/decoder-job.md
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/IpPrivacyDecoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/GeoCityLookup.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/GeoIspLookup.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseProxy.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/GeoCityLookupTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/GeoIspLookupTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseProxyTest.java
  ingestion-beam/src/test/resources/testdata/decoder-integration/error-input.ndjson
  ingestion-beam/src/test/resources/testdata/decoder-integration/output.ndjson
  ingestion-beam/src/test/resources/testdata/decoder-integration/pioneer.ndjson
  ingestion-beam/src/test/resources/testdata/decoder-integration/rally.ndjson
  ingestion-beam/src/test/resources/testdata/decoder-integration/valid-input.ndjson
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNodeBeamTest.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed b7433bcd with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 51ce045a with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 15361274 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 9d812a4b with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none
