Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

[ci skip] Deployed 327ad2f6 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Bump to 3.14.1
  pom.xml
Due: none

Fix PubsubReadIntegrationTest log capture in multi-test runs
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/PubsubReadIntegrationTest.java
Due: ingestion_sink

Fix test
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/PubsubReadIntegrationTest.java
Due: ingestion_sink

Ignore OkHttp 5.x in Dependabot
  .github/dependabot.yml
Due: none

Revert "Bump com.squareup.okhttp3:mockwebserver from 4.12.0 to 5.3.2"
  ingestion-beam/pom.xml
Due: ingestion_beam

Bug 2010623 - Drop namespaces starting with com-feifan
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Bug 2010623 - Drop namespaces starting with com-feifan (#2882)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

[ci skip] Deployed 8df28787 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed d1992007 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 6dde277c with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed b6e41e34 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Bug 2013260 - Drop telemetry from forks
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 2013260 - Drop telemetry from forks (#2894)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed d600904f with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Fix ArrayIndexOutOfBoundsException in stub installer URI parsing
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

Fix ArrayIndexOutOfBoundsException in stub installer URI parsing (#2897)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

[ci skip] Deployed 6d9ab412 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Bug 2010407 - Add new metric to record the number of download requests blocked by the server
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

Fix ingestion-beam documentation
  docs/ingestion-beam/index.md
Due: none

Fix ingestion-beam documentation (#2899)
  docs/ingestion-beam/index.md
Due: none

Bug 2010407 - Add new metric to record the number of download requests blocked by the server (#2898)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

[ci skip] Deployed 8fffec1c with MkDocs version: 1.6.1
  ingestion-beam/index.html
  search/search_index.json
  sitemap.xml.gz
Due: ingestion_beam

feat(ci): Add build and push workflows with Github Actions
  .github/workflows/build-and-push.yaml
Due: none

remove packages permission and secret inheritance
  .github/workflows/build-and-push.yaml
Due: none

pr template formating
  .github/pull_request_template.md
Due: none

feat(ci): Add build and push workflows with Github Actions (#2901)
  .github/pull_request_template.md
  .github/workflows/build-and-push.yaml
Due: none

[ci skip] Deployed f4f2682d with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

fix(Dockerfile): Convert CMD args to JSON list format
  ingestion-edge/Dockerfile
  ingestion-sink/Dockerfile
Due: ingestion_edge, ingestion_sink

fix(Dockerfile): Convert CMD args to JSON list format (#2902)
  ingestion-edge/Dockerfile
  ingestion-sink/Dockerfile
Due: ingestion_edge, ingestion_sink

fix(ci): Use repo root as build context for ingestion-sink
  .github/workflows/build-and-push.yaml
Due: none

wip: run action on PR to test
  .github/workflows/build-and-push.yaml
Due: none

Bug 2017610 - Add metric to record Desktop Launcher installation status
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

Simplify v13 test
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

fixup
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam
