Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

Update dependabot configuration to use @quiiver
  .github/dependabot.yml
Due: none

[ci skip] Deployed 5cb53f0d with MkDocs version: 1.3.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 7e928b92 with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 79e9f80d with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 1e55dc7d with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed f0700f87 with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 8f2f65c2 with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 3b7b6632 with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

Update dependabot configuration to use @quiiver (#2130)
  .github/dependabot.yml
Due: none

[ci skip] Deployed 1e51a119 with MkDocs version: 1.3.1
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 65f5c25d with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed a16c07d3 with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

Update google-cloud-pubsub in ingestion-edge
  .circleci/config.yml
  ingestion-edge/Dockerfile
  ingestion-edge/docker-compose.circleci.yml
  ingestion-edge/docker-compose.override.yml
  ingestion-edge/docker-compose.yml
  ingestion-edge/ingestion_edge/flush.py
  ingestion-edge/ingestion_edge/publish.py
  ingestion-edge/ingestion_edge/util.py
  ingestion-edge/pubsub_emulator.py
  ingestion-edge/pytest.ini
  ingestion-edge/requirements.in
  ingestion-edge/requirements.txt
  ingestion-edge/tests/flush_manager/kube/emulator.deploy.yml
  ingestion-edge/tests/integration/conftest.py
  ingestion-edge/tests/integration/publish/conftest.py
  ingestion-edge/tests/integration/publish/helpers.py
  ingestion-edge/tests/integration/publish/test_flush.py
  ingestion-edge/tests/integration/publish/test_healthy.py
  ingestion-edge/tests/integration/publish/test_misconfigured.py
  ingestion-edge/tests/integration/publish/test_pubsub_failure.py
  ingestion-edge/tests/integration/test_pubsub_emulator.py
  ingestion-edge/tests/load/kube/emulator.deploy.yml
  ingestion-edge/tests/unit/conftest.py
  ingestion-edge/tests/unit/flush/test_flush.py
  ingestion-edge/tests/unit/flush/test_init_app.py
  ingestion-edge/tests/unit/test_util.py
Due: ingestion_edge

[ci skip] Deployed 86ef831a with MkDocs version: 1.3.1
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 0853e5c6 with MkDocs version: 1.3.1
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed c6e1f08d with MkDocs version: 1.3.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.6c7ad80a.min.js
  assets/javascripts/bundle.6c7ad80a.min.js.map
  assets/javascripts/bundle.9c69f0bc.min.js
  assets/javascripts/bundle.9c69f0bc.min.js.map
  assets/javascripts/workers/search.ecf98df9.min.js
  assets/javascripts/workers/search.ecf98df9.min.js.map
  assets/stylesheets/main.1d29e8d0.min.css
  assets/stylesheets/main.1d29e8d0.min.css.map
  assets/stylesheets/main.69437709.min.css
  assets/stylesheets/main.69437709.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed c78402ed with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

RS-430 Add Bing partner codes for ESR and iPad
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Order codes alphabetically
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

RS-430 Add Bing partner codes for ESR and iPad (#2138)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 7a01027d with MkDocs version: 1.3.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Allow new DuckDuckGo organic search codes.
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Correct comment about Baidu organic search codes.
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Allow new DuckDuckGo organic search codes (#2140)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 2c8f1019 with MkDocs version: 1.3.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed ac17911d with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed c327769b with MkDocs version: 1.3.1
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 4c317ffd with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed f5bd5401 with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 82f71791 with MkDocs version: 1.3.1
  sitemap.xml
  sitemap.xml.gz
Due: none

marking org-mozilla-firefox-betc as unwanted data
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 5ce65f05 with MkDocs version: 1.3.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 3730bda5 with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed a1819aa1 with MkDocs version: 1.3.1
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 5cd26915 with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 45941c9a with MkDocs version: 1.3.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.2ab50757.min.js
  assets/javascripts/bundle.2ab50757.min.js.map
  assets/javascripts/bundle.9c69f0bc.min.js
  assets/javascripts/bundle.9c69f0bc.min.js.map
  assets/stylesheets/main.69437709.min.css
  assets/stylesheets/main.69437709.min.css.map
  assets/stylesheets/main.6b80c2a2.min.css
  assets/stylesheets/main.6b80c2a2.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 75314ad7 with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed edcc134d with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 77ebf43e with MkDocs version: 1.3.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.2ab50757.min.js
  assets/javascripts/bundle.2ab50757.min.js.map
  assets/javascripts/bundle.48f2be22.min.js
  assets/javascripts/bundle.48f2be22.min.js.map
  assets/stylesheets/main.2e8b5541.min.css
  assets/stylesheets/main.2e8b5541.min.css.map
  assets/stylesheets/main.6b80c2a2.min.css
  assets/stylesheets/main.6b80c2a2.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink
