Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

[ci skip] Deployed f25d4dfb with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed a17babe4 with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 5e33bdbf with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 6ac89774 with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

DENG-1267 - Handle geoip skip from metadata (#2440)
  ingestion-beam/bin/download-schemas
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/IpPrivacyDecoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseProxy.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseProxyTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStore.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed d4a9ddca with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

Apply document attributes to log messages
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseLogEntry.java
Due: ingestion_beam

Apply document attributes to log messages (#2451)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseLogEntry.java
Due: ingestion_beam

[ci skip] Deployed 474f4db1 with MkDocs version: 1.5.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.220ee61c.min.js
  assets/javascripts/bundle.220ee61c.min.js.map
  assets/javascripts/bundle.78eede0e.min.js
  assets/javascripts/bundle.78eede0e.min.js.map
  assets/javascripts/lunr/min/lunr.he.min.js
  assets/javascripts/workers/search.74e28a9f.min.js
  assets/javascripts/workers/search.74e28a9f.min.js.map
  assets/javascripts/workers/search.dfff1995.min.js
  assets/javascripts/workers/search.dfff1995.min.js.map
  assets/stylesheets/main.0e669242.min.css
  assets/stylesheets/main.0e669242.min.css.map
  assets/stylesheets/main.eebd395e.min.css
  assets/stylesheets/main.eebd395e.min.css.map
  assets/stylesheets/palette.85d0ee34.min.css
  assets/stylesheets/palette.85d0ee34.min.css.map
  assets/stylesheets/palette.ecc896b0.min.css
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Add Decoder test to validate LogEntry ingestion
  ingestion-beam/src/test/java/com/mozilla/telemetry/DecoderMainTest.java
  ingestion-beam/src/test/resources/testdata/decoder-integration/logentries-error-output.ndjson
  ingestion-beam/src/test/resources/testdata/decoder-integration/logentries-output.ndjson
  ingestion-beam/src/test/resources/testdata/decoder-integration/logentries.ndjson
Due: ingestion_beam

Add Decoder test to validate LogEntry ingestion (#2453)
  ingestion-beam/src/test/java/com/mozilla/telemetry/DecoderMainTest.java
  ingestion-beam/src/test/resources/testdata/decoder-integration/logentries-error-output.ndjson
  ingestion-beam/src/test/resources/testdata/decoder-integration/logentries-output.ndjson
  ingestion-beam/src/test/resources/testdata/decoder-integration/logentries.ndjson
Due: ingestion_beam

[ci skip] Deployed 10df665b with MkDocs version: 1.5.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Add position to reporting URL for inlusion in aggregate impression key
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/BuildReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/AggregateImpressionsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Reformat code to appease spotless with command $./bin/mvn spotless:apply
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/AggregateImpressionsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Switch the URL param called position to slot-number
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/BuildReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/AggregateImpressionsTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed e1f1f403 with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 53d24814 with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

fix comment indent for checkstyle
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/BuildReportingUrl.java
Due: ingestion_beam

ok now for spotless
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/BuildReportingUrl.java
Due: ingestion_beam

Add position to Impression Aggregation Key (#2413)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/BuildReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/AggregateImpressionsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed 50a4b964 with MkDocs version: 1.5.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.78eede0e.min.js
  assets/javascripts/bundle.78eede0e.min.js.map
  assets/javascripts/bundle.dff1b7c8.min.js
  assets/javascripts/bundle.dff1b7c8.min.js.map
  assets/stylesheets/main.046329b4.min.css
  assets/stylesheets/main.046329b4.min.css.map
  assets/stylesheets/main.0e669242.min.css
  assets/stylesheets/main.0e669242.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Updates to the position parameter.
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed 839faa7f with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed c24ce9aa with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed cc5d7983 with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

Updates to the position parameter. (#2458)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed f519a109 with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

Add mobile position parsing for the Position url parameter
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Add a little discoverability via the test
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Ran $./bin/mvn spotless:apply
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Add mobile position parsing for the Position url parameter (#2459)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

[ci skip] Deployed 86dee7f7 with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 9b45ab28 with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 9352e383 with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 7bd4f8fe with MkDocs version: 1.5.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed aa388be9 with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed ff6c2409 with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

DENG-1536 - Add options to enable ingestion-sink opencensus metrics
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/config/SinkConfig.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/BigQuery.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/Gcs.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/util/BatchWrite.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/util/Env.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/BigQueryLoadTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/BigQueryWriteTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/GcsWriteTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/util/BatchWriteTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/util/BoundedSink.java
Due: ingestion_sink

DENG-1536 - Add options to enable ingestion-sink opencensus metrics (#2465)
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/config/SinkConfig.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/BigQuery.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/Gcs.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/util/BatchWrite.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/util/Env.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/BigQueryLoadTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/BigQueryWriteTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/GcsWriteTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/util/BatchWriteTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/util/BoundedSink.java
Due: ingestion_sink

[ci skip] Deployed 9022fa6c with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none
