Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

Read file for allowed events once
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
Due: ingestion_beam

singletonAllowedEvents initialize in synchronized block
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
Due: ingestion_beam

[ci skip] Deployed 78d9b0e3 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.c8b220af.min.js
  assets/javascripts/bundle.c8b220af.min.js.map
  assets/javascripts/bundle.f1b6f286.min.js
  assets/javascripts/bundle.f1b6f286.min.js.map
  index.html
  ingestion-beam/amplitude-job/index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Send platform, device model, country and language as user properties to Amplitude
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/AmplitudeEventTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Use metric pings to indicate user activity in Amplitude
  ingestion-beam/bin/run-amplitude-dev.sh
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
Due: ingestion_beam

Update docs
  .spelling
  docs/ingestion-beam/amplitude-job.md
Due: none

Move experiments into separate property
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/AmplitudeEventTest.java
Due: ingestion_beam

[ci skip] Deployed 3bf38a2c with MkDocs version: 1.6.1
  ingestion-beam/amplitude-job/index.html
  search/search_index.json
  sitemap.xml.gz
Due: ingestion_beam

[DENG-7762] Re-enable user-characteristics ping for firefox android
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Fix reading Amplitude API keys
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/AmplitudePublisherTest.java
  ingestion-beam/src/test/resources/amplitude/apiKeys.csv
Due: ingestion_beam

[ci skip] Deployed e7f0e5dc with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Send sample ID to Amplitude
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/AmplitudeEventTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
Due: ingestion_beam

[ci skip] Deployed d939be27 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[Bug 1952966] Scrub com-xyz-aba
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 766e2557 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Filter desktop top-sites pings to drop pings from version greater than 136.
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterByDocType.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterByDocTypeTest.java
Due: ingestion_beam

[Bug 1953225] Scrub org-codesista-firefox-titan
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 3097c6d4 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed c5080c2f with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/stylesheets/main.4af4bdda.min.css
  assets/stylesheets/main.4af4bdda.min.css.map
  assets/stylesheets/main.8608ea7d.min.css
  assets/stylesheets/main.8608ea7d.min.css.map
  index.html
  ingestion-beam/amplitude-job/index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 5dba80cd with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 6d053574 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Bug 1955662 - Scrub com-android-vending
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1955660 - Scrub org-cloudnexus365-flonbrowser
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 048d5674 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Added quick-suggest tests
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterByDocTypeTest.java
Due: ingestion_beam

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
