Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

Remove test resources
  ingestion-beam/src/test/resources/posthog/apiKeys.csv
  ingestion-beam/src/test/resources/posthog/eventsAllowlist.csv
Due: ingestion_beam

Add entries to GRAVEYWARD for Amplitude and Posthog POC
  GRAVEYARD.md
Due: none

[DENG-8592] Remove Posthog POC
  docs/ingestion-beam/posthog-job.md
  ingestion-beam/bin/run-posthog-dev.sh
  ingestion-beam/src/main/java/com/mozilla/telemetry/PosthogPublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/InvalidAttributeException.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/ParsePosthogEvents.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/PosthogEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/PosthogPublisherOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/SendPosthogRequest.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/PosthogPublisherTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/FilterByDocTypeTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/ParsePosthogEventsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/PosthogEventTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/SendPosthogRequestTest.java
Due: ingestion_beam

[ci skip] Deployed 68029528 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.50899def.min.js
  assets/javascripts/bundle.50899def.min.js.map
  assets/javascripts/bundle.92b07e13.min.js
  assets/javascripts/bundle.92b07e13.min.js.map
  assets/javascripts/workers/search.973d3a69.min.js
  assets/javascripts/workers/search.973d3a69.min.js.map
  assets/javascripts/workers/search.d50fe291.min.js
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/posthog-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  search/search_index.json
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 45ce0085 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

fix(ci): Fix test coverage reporting job
  .circleci/config.yml
Due: none

fix(ci): Fix test coverage reporting job (#2831)
  .circleci/config.yml
Due: none

wip
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/Sink.java
Due: ingestion_beam

wip
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
Due: ingestion_beam

Work on points for style
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/Sink.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
Due: ingestion_beam

Refactor tests
  ingestion-beam/src/main/java/com/mozilla/telemetry/Republisher.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/DecoderMainTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/RepublisherMainTest.java
Due: ingestion_beam

Try to fix tests
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/DecoderMainTest.java
Due: ingestion_beam

More fix attempts
  ingestion-beam/src/test/java/com/mozilla/telemetry/DecoderMainTest.java
  ingestion-beam/src/test/resources/testdata/republisher-integration/debug-messages.ndjson
  ingestion-beam/src/test/resources/testdata/republisher-integration/per-channel-beta.ndjson
  ingestion-beam/src/test/resources/testdata/republisher-integration/per-channel-nightly.ndjson
  ingestion-beam/src/test/resources/testdata/republisher-integration/per-channel-release.ndjson
  ingestion-beam/src/test/resources/testdata/republisher-integration/per-doctype-event.ndjson
  ingestion-beam/src/test/resources/testdata/republisher-integration/per-doctype-foo.ndjson
  ingestion-beam/src/test/resources/testdata/republisher-integration/per-namespace-mynamespace.ndjson
Due: ingestion_beam

Bug 1987968 - Mark com-dykt-main and com-agci-acebrowser as unwanted namespaces
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1987968 - Mark com-dykt-main and com-agci-acebrowser as unwanted namespaces (#2835)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed f2ce45a1 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

DENG-9752 - Add counter to measure source zone for log entries
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseLogEntry.java
Due: ingestion_beam

reformat
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseLogEntry.java
Due: ingestion_beam

DENG-9752 - Add counter to measure source zone for log entries (#2839)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseLogEntry.java
Due: ingestion_beam

[ci skip] Deployed e9dee9b3 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.92b07e13.min.js
  assets/javascripts/bundle.92b07e13.min.js.map
  assets/javascripts/bundle.f55a23d4.min.js
  assets/javascripts/bundle.f55a23d4.min.js.map
  assets/stylesheets/main.7e37652d.min.css
  assets/stylesheets/main.7e37652d.min.css.map
  assets/stylesheets/main.e53b48f4.min.css
  assets/stylesheets/main.e53b48f4.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Bug 1990965: Add stub URI parameter for 'launched_by' field
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

SVCSE-3801: add failing test to reflect k8s v1.32 changes
  ingestion-edge/tests/unit/flush_manager/test_delete_complete.py
Due: ingestion_edge

SVCSE-3801: fix job completion check for k8s v1.32
  ingestion-edge/ingestion_edge/flush_manager.py
Due: ingestion_edge

SVCSE 3801 (#2842)
  ingestion-edge/ingestion_edge/flush_manager.py
  ingestion-edge/tests/unit/flush_manager/test_delete_complete.py
Due: ingestion_edge

[ci skip] Deployed 60f0d4df with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/stylesheets/main.2a3383ac.min.css
  assets/stylesheets/main.2a3383ac.min.css.map
  assets/stylesheets/main.e53b48f4.min.css
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[DENG-9641] Add counter for compressed bytes per doc type
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/DecompressPayload.java
Due: ingestion_beam

[DENG-9641] Add counter for compressed bytes per doc type (#2846)
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/DecompressPayload.java
Due: ingestion_beam

[ci skip] Deployed e081ee58 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[DENG-9641] Group predecompress metrics for invalid doc types
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/DecompressPayload.java
Due: ingestion_beam

Update test
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

[DENG-9641] Group predecompress metrics for invalid doc types (#2850)
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/DecompressPayload.java
Due: ingestion_beam

[ci skip] Deployed 83b730f6 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/stylesheets/main.2a3383ac.min.css
  assets/stylesheets/main.2a3383ac.min.css.map
  assets/stylesheets/main.84d31ad4.min.css
  assets/stylesheets/main.84d31ad4.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Bug 1990965: Add stub URI parameter for 'launched_by' field (#2841)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

[ci skip] Deployed 6cb4a500 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[Bug 1997452] Mark regrets report data as unwanted
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Update ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
