Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

Scrub apps
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed f2086bca with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed e61594a2 with MkDocs version: 1.5.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.1e8ae164.min.js
  assets/javascripts/bundle.1e8ae164.min.js.map
  assets/javascripts/bundle.bd41221c.min.js
  assets/javascripts/bundle.bd41221c.min.js.map
  assets/stylesheets/main.7e359304.min.css
  assets/stylesheets/main.7e359304.min.css.map
  assets/stylesheets/main.bcfcd587.min.css
  assets/stylesheets/main.bcfcd587.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 6eb2b225 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 8eb16484 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed ac5cc221 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 479df65f with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 3f96f90c with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 2ed9eea9 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed f4acb35d with MkDocs version: 1.5.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.1e8ae164.min.js
  assets/javascripts/bundle.1e8ae164.min.js.map
  assets/javascripts/bundle.3220b9d7.min.js
  assets/javascripts/bundle.3220b9d7.min.js.map
  assets/stylesheets/main.66ac8b77.min.css
  assets/stylesheets/main.66ac8b77.min.css.map
  assets/stylesheets/main.bcfcd587.min.css
  assets/stylesheets/main.bcfcd587.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 6fd85097 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 34e06a41 with MkDocs version: 1.6.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.3220b9d7.min.js
  assets/javascripts/bundle.3220b9d7.min.js.map
  assets/javascripts/bundle.dd8806f2.min.js
  assets/javascripts/bundle.dd8806f2.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Send suggest interactions from prerelease channels to AMP
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/VerifyMetadata.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/VerifyMetadataTest.java
Due: ingestion_beam

Bug 1896079 - Scrub com-pekobbrowser-unblocksites
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 3f7c0006 with MkDocs version: 1.6.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.081f42fc.min.js
  assets/javascripts/bundle.081f42fc.min.js.map
  assets/javascripts/bundle.dd8806f2.min.js
  assets/javascripts/bundle.dd8806f2.min.js.map
  assets/stylesheets/main.6543a935.min.css
  assets/stylesheets/main.6543a935.min.css.map
  assets/stylesheets/main.66ac8b77.min.css
  assets/stylesheets/main.66ac8b77.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Bug 1896079 - Scrub com-pekobbrowser-unblocksites (#2591)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 86c64cb5 with MkDocs version: 1.6.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 50f1a0df with MkDocs version: 1.6.0
  sitemap.xml.gz
Due: none

Add unit test to verify json schema datetime validation
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParsePayloadTest.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/schema/JSONSchemaStoreTest.java
  ingestion-core/src/test/resources/schema/test-schemas/schemas/format/datetime/datetime.1.schema.json
Due: ingestion_beam, ingestion_core, ingestion_sink

?
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParsePayloadTest.java
Due: ingestion_beam

Bug 1902673 remove namespace com-eusoft-trans-en
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1902673 remove namespace com-eusoft-trans-en (#2601)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 2618cb6c with MkDocs version: 1.6.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.081f42fc.min.js
  assets/javascripts/bundle.081f42fc.min.js.map
  assets/javascripts/bundle.ad660dcc.min.js
  assets/javascripts/bundle.ad660dcc.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Get buster-backports from archive.debian.org in ingestion-edge
  ingestion-edge/Dockerfile
Due: ingestion_edge

Get buster-backports from archive.debian.org in ingestion-edge (#2602)
  ingestion-edge/Dockerfile
Due: ingestion_edge

[ci skip] Deployed 71d62465 with MkDocs version: 1.6.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed cd74c139 with MkDocs version: 1.6.0
  sitemap.xml.gz
Due: none

Log exception stacktrace in sink consumer
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/Pubsub.java
Due: ingestion_sink

Log type of unacked message in sink consumer
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/Pubsub.java
Due: ingestion_sink

Fix test
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/PubsubReadIntegrationTest.java
Due: ingestion_sink

Log 2 (#2607)
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/Pubsub.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/PubsubReadIntegrationTest.java
Due: ingestion_sink

[ci skip] Deployed 78bbfebb with MkDocs version: 1.6.0
  sitemap.xml.gz
Due: none

Log submission timestamp as well
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/Pubsub.java
Due: ingestion_sink

Log submission timestamp as well (#2608)
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/Pubsub.java
Due: ingestion_sink

[WiP] Add test to debug https://github.com/mozilla/gcp-ingestion/issues/2609
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNode.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNodeSinkTest.java
  ingestion-core/src/test/resources/schema/test-schemas/schemas/firefox_desktop/metrics/metrics.1.bq
  ingestion-core/src/test/resources/schema/test-schemas/schemas/firefox_desktop/metrics/metrics.1.schema.json
  ingestion-core/src/test/resources/testdata/payload-weird-metrics-expected.ndjson
  ingestion-core/src/test/resources/testdata/payload-weird-metrics-input.ndjson
Due: ingestion_beam, ingestion_core, ingestion_sink

Add test to confirm various working cases of duplicate normalized field combinations
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNodeSinkTest.java
  ingestion-core/src/test/resources/testdata/payload-format-duplicate-normalized-field-names-expected.ndjson
  ingestion-core/src/test/resources/testdata/payload-format-duplicate-normalized-field-names-input.ndjson
Due: ingestion_beam, ingestion_core, ingestion_sink
