Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

Bug 1967600 - Scrub com-edu-assistant
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 004fda46 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Bug 1967600 - Scrub com-edu-assistant (#2786)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

chore: add pull request template with deployment instructions
  .github/pull_request_template.md
Due: none

[ci skip] Deployed 63353f74 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[DENG-8372] Add databases
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/GeoIspLookup.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Update .github/pull_request_template.md
  .github/pull_request_template.md
Due: none

chore: add pull request template with deployment instructions (#2789)
  .github/pull_request_template.md
Due: none

[ci skip] Deployed e636fae8 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 00f4140e with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 37f98b3d with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 2d234096 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 1cea109f with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

chore: clarify code update policy and merge guidelines
  .github/pull_request_template.md
Due: none

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

chore: clarify code update policy and merge guidelines (#2793)
  .github/pull_request_template.md
Due: none

Scrub apps
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed e2e2f1a6 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed cf6cc00f with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 9c65dd12 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[PoC] Add Sink test for labeled_labeled_counter metric
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNodeSinkTest.java
  ingestion-core/src/test/resources/schema/test-schemas/schemas/labeled_labeled_counter/test/test.1.bq
  ingestion-core/src/test/resources/testdata/payload-format-labeled-labeled-counter-expected.ndjson
  ingestion-core/src/test/resources/testdata/payload-format-labeled-labeled-counter-input.ndjson
Due: ingestion_beam, ingestion_core, ingestion_sink

Rename metric to match https://github.com/mozilla-services/mozilla-pipeline-schemas/pull/846
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNodeSinkTest.java
  ingestion-core/src/test/resources/schema/test-schemas/schemas/dual_labeled_counter/test/test.1.bq
  ingestion-core/src/test/resources/testdata/payload-format-dual-labeled-counter-expected.ndjson
  ingestion-core/src/test/resources/testdata/payload-format-dual-labeled-counter-input.ndjson
  ingestion-core/src/test/resources/testdata/payload-format-labeled-labeled-counter-expected.ndjson
  ingestion-core/src/test/resources/testdata/payload-format-labeled-labeled-counter-input.ndjson
Due: ingestion_beam, ingestion_core, ingestion_sink

Update bq schema to match msg-generated output
  ingestion-core/src/test/resources/schema/test-schemas/schemas/dual_labeled_counter/test/test.1.bq
Due: ingestion_beam, ingestion_core, ingestion_sink

[DENG-8982] Add new Google partner codes
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

reformat
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 7533c250 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Bug 1957085 - Add Sink test for dual_labeled_counter metric (#2734)
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNodeSinkTest.java
  ingestion-core/src/test/resources/schema/test-schemas/schemas/dual_labeled_counter/test/test.1.bq
  ingestion-core/src/test/resources/testdata/payload-format-dual-labeled-counter-expected.ndjson
  ingestion-core/src/test/resources/testdata/payload-format-dual-labeled-counter-input.ndjson
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed 3dc045de with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Remove Amplitude POC
  docs/ingestion-beam/amplitude-job.md
  ingestion-beam/bin/run-amplitude-dev.sh
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudePublisherOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/InvalidAttributeException.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/AmplitudePublisherTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/AmplitudeEventTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/FilterByDocTypeTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
  ingestion-beam/src/test/resources/amplitude/apiKeys.csv
  ingestion-beam/src/test/resources/amplitude/eventsAllowlist.csv
Due: ingestion_beam

[DENG-8592] Implement Posthog POC event pipeline
  .spelling
  docs/ingestion-beam/posthog-job.md
  ingestion-beam/bin/run-posthog-dev.sh
  ingestion-beam/src/main/java/com/mozilla/telemetry/PosthogPublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/InvalidAttributeException.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/ParsePosthogEvents.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/PosthogEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/PosthogPublisherOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/SendPosthogRequest.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/PosthogPublisherTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/FilterByDocTypeTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/ParsePosthogEventsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/PosthogEventTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/SendPosthogRequestTest.java
  ingestion-beam/src/test/resources/posthog/apiKeys.csv
  ingestion-beam/src/test/resources/posthog/eventsAllowlist.csv
Due: ingestion_beam

DENG-9045 - Drop pageload_domain pings
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

DENG-9045 - Drop pageload_domain pings (#2805)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 5e368876 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none
