Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

Set dependabot reviewers to wg team
  .github/dependabot.yml
Due: none

Set dependabot reviewers to wg team (#2481)
  .github/dependabot.yml
Due: none

[ci skip] Deployed 032be977 with MkDocs version: 1.5.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.94c44541.min.js
  assets/javascripts/bundle.94c44541.min.js.map
  assets/javascripts/bundle.dff1b7c8.min.js
  assets/javascripts/bundle.dff1b7c8.min.js.map
  assets/javascripts/workers/search.dfff1995.min.js
  assets/javascripts/workers/search.dfff1995.min.js.map
  assets/javascripts/workers/search.f886a092.min.js
  assets/javascripts/workers/search.f886a092.min.js.map
  assets/stylesheets/main.046329b4.min.css
  assets/stylesheets/main.046329b4.min.css.map
  assets/stylesheets/main.bd3936ea.min.css
  assets/stylesheets/main.bd3936ea.min.css.map
  assets/stylesheets/palette.356b1318.min.css
  assets/stylesheets/palette.356b1318.min.css.map
  assets/stylesheets/palette.85d0ee34.min.css
  assets/stylesheets/palette.85d0ee34.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Bug 1859282 - Scrub com-work-custchrome
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 9919cf0f with MkDocs version: 1.5.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.94c44541.min.js
  assets/javascripts/bundle.94c44541.min.js.map
  assets/javascripts/bundle.aecac24b.min.js
  assets/javascripts/bundle.aecac24b.min.js.map
  assets/javascripts/lunr/min/lunr.el.min.js
  assets/stylesheets/main.35e1ed30.min.css
  assets/stylesheets/main.35e1ed30.min.css.map
  assets/stylesheets/main.bd3936ea.min.css
  assets/stylesheets/main.bd3936ea.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

chore(doc): Update ingestion diagram.
  docs/architecture/diagram.mmd
  docs/architecture/diagram.svg
Due: none

[ci skip] Deployed ec0dc406 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed fe07a49a with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed d687a031 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

SNG-1086 - Fix typo in Bing partner codes.
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

add com-mykarma-karmasearch to messagescubber
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

chore(doc): Update ingestion diagram.
  docs/architecture/diagram.svg
Due: none

add com-mykarma-karmasearch to messagescubber (#2494)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed d7628ac5 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 70cca975 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

SNG-1086 - Fix typo in Bing partner codes. (#2493)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 55a95601 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed e2e94e29 with MkDocs version: 1.5.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/stylesheets/main.35e1ed30.min.css
  assets/stylesheets/main.35e1ed30.min.css.map
  assets/stylesheets/main.4b4a2bd9.min.css
  assets/stylesheets/main.4b4a2bd9.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

DENG-1802 Add match type to parameter for suggest pings
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

checkstyle!!!!!!!!!!!!!!
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Update ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
Due: ingestion_beam

spotless
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
Due: ingestion_beam

DENG-1802 Add match type to parameter for suggest pings (#2500)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed d36a916a with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Use GsonFactory to parse table schemas
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/util/Json.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Revert "Use GsonFactory to parse table schemas"
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/util/Json.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Add google-http-client-jackson2 dependency to ingestion-core
  pom.xml
Due: none

Revert "Add google-http-client-jackson2 dependency to ingestion-core"
  pom.xml
Due: none

Downgrade beam to 2.50
  pom.xml
Due: none

[ci skip] Deployed 473c66f9 with MkDocs version: 1.5.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.81fa17fe.min.js
  assets/javascripts/bundle.81fa17fe.min.js.map
  assets/javascripts/bundle.aecac24b.min.js
  assets/javascripts/bundle.aecac24b.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 75746c2b with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Scrub com-mykarma-mylinux
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 20a4b88e with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 96f3bd77 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Prevent IndexOutOfBoundsException in ParseProxy
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseProxy.java
Due: ingestion_beam
