Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

[ci skip] Deployed 2b869718 with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 8b650ccb with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 37e0ca04 with MkDocs version: 1.3.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.39f04ddb.min.js
  assets/javascripts/bundle.39f04ddb.min.js.map
  assets/javascripts/bundle.48f2be22.min.js
  assets/javascripts/bundle.48f2be22.min.js.map
  assets/stylesheets/main.2e8b5541.min.css
  assets/stylesheets/main.2e8b5541.min.css.map
  assets/stylesheets/main.9f9400aa.min.css
  assets/stylesheets/main.9f9400aa.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 8c5deb3b with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

update log4j/sl4j connector
  ingestion-sink/pom.xml
Due: ingestion_sink

[ci skip] Deployed ca4f3933 with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 65d49c92 with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

adding missing runtime dep
  ingestion-sink/pom.xml
Due: ingestion_sink

[ci skip] Deployed 3ba50bce with MkDocs version: 1.3.1
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 713f6647 with MkDocs version: 1.3.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.37e9125f.min.js
  assets/javascripts/bundle.37e9125f.min.js.map
  assets/javascripts/workers/search.5bf1dace.min.js
  assets/javascripts/workers/search.5bf1dace.min.js.map
  assets/stylesheets/main.7a952b86.min.css
  assets/stylesheets/main.7a952b86.min.css.map
  assets/stylesheets/main.9f9400aa.min.css
  assets/stylesheets/main.9f9400aa.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 9d74ab8c with MkDocs version: 1.3.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 866b78f8 with MkDocs version: 1.3.1
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed d7a96db5 with MkDocs version: 1.4.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.078830c0.min.js
  assets/javascripts/bundle.078830c0.min.js.map
  assets/javascripts/bundle.37e9125f.min.js
  assets/javascripts/bundle.37e9125f.min.js.map
  assets/stylesheets/main.20d9efc8.min.css
  assets/stylesheets/main.20d9efc8.min.css.map
  assets/stylesheets/main.7a952b86.min.css
  assets/stylesheets/main.7a952b86.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed bbf9812c with MkDocs version: 1.4.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed dd26d4c0 with MkDocs version: 1.4.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed d05228ee with MkDocs version: 1.4.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed e0d4f13a with MkDocs version: 1.4.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed 32657e6e with MkDocs version: 1.4.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed d31a3cce with MkDocs version: 1.4.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed c13d5370 with MkDocs version: 1.4.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed 6840431e with MkDocs version: 1.4.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed a78738ca with MkDocs version: 1.4.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed 3747ac32 with MkDocs version: 1.4.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed d87ac0ab with MkDocs version: 1.4.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed 2ac7c134 with MkDocs version: 1.4.0
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed eba6a4b1 with MkDocs version: 1.4.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed c2ce064e with MkDocs version: 1.4.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Bug 1784911 - Drop firefox-desktop.background-update pings
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed b07a12c2 with MkDocs version: 1.4.0
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 5503fa6b with MkDocs version: 1.4.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 90401bc9 with MkDocs version: 1.4.1
  sitemap.xml.gz
Due: none

Update flex template base image to the latest version
  ingestion-beam/Dockerfile
Due: ingestion_beam

Update flex template base image to the latest version (#2184)
  ingestion-beam/Dockerfile
Due: ingestion_beam

[ci skip] Deployed 3bc12763 with MkDocs version: 1.4.1
  sitemap.xml
  sitemap.xml.gz
Due: none

DENG-392 Add online/offline attribution to the `custom-data` URL param
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParsedReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

fix constant value
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

spotless apply
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

drop unecessary
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
Due: ingestion_beam

review comments
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
