Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

Bump spring-core version, ignore 6.x in Dependabot updates (#2657)
  .github/dependabot.yml
  ingestion-beam/pom.xml
Due: ingestion_beam

Fix log4j-core-test usage
  ingestion-sink/pom.xml
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/LoggingTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/PubsubReadIntegrationTest.java
Due: ingestion_sink

Revert "Fix log4j-core-test usage"
  ingestion-sink/pom.xml
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/LoggingTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/PubsubReadIntegrationTest.java
Due: ingestion_sink

Revert "Bump log4j.version from 2.19.0 to 2.24.1"
  ingestion-sink/pom.xml
Due: ingestion_sink

Dependabot: ignore log4j 2.2+
  .github/dependabot.yml
Due: none

[ci skip] Deployed afb53794 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Fix test
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/BigQueryLoadTest.java
Due: ingestion_sink

Minor refactoring to make checkstyle pass
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/options/BigQueryWriteMethod.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/BigQuerySchemaStore.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNodeSinkTest.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Bump Dataflow template base image to 20240918-rc00
  ingestion-beam/Dockerfile
Due: ingestion_beam

Bug 1924135: Scrub com-feifan-topvan
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1924135: Scrub com-feifan-topvan (#2669)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed d4bff4d9 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Remove `encoding` parameter from maven-checkstyle-plugin config
  pom.xml
Due: none

Bump Dataflow template base image to 20240918-rc00 (#2675)
  ingestion-beam/Dockerfile
Due: ingestion_beam

Bump commons-text
  ingestion-sink/pom.xml
  pom.xml
Due: ingestion_sink

Pin pytest-asyncio and bump related dependencies
  ingestion-edge/requirements.in
  ingestion-edge/requirements.txt
Due: ingestion_edge

[ci skip] Deployed e2b0b573 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
