Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

feat: add io-orbitmobile-firefox to ignore list (#2633)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed dad29698 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.471ce7a9.min.js
  assets/javascripts/bundle.471ce7a9.min.js.map
  assets/javascripts/bundle.56dfad97.min.js
  assets/javascripts/bundle.56dfad97.min.js.map
  assets/javascripts/workers/search.07f07601.min.js
  assets/javascripts/workers/search.07f07601.min.js.map
  assets/javascripts/workers/search.b8dbb3d2.min.js.map
  assets/stylesheets/main.35f28582.min.css
  assets/stylesheets/main.35f28582.min.css.map
  assets/stylesheets/main.3cba04c6.min.css
  assets/stylesheets/main.3cba04c6.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

added new telemetry query windows_ubr
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

Ignore `app-borderfree-borderfree` namespace (bug 1921529).
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

updated Stub URI parser
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

Ignore `app-borderfree-borderfree` namespace (bug 1921529). (#2637)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 62325667 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.56dfad97.min.js
  assets/javascripts/bundle.56dfad97.min.js.map
  assets/javascripts/bundle.d6f25eb3.min.js
  assets/javascripts/bundle.d6f25eb3.min.js.map
  assets/javascripts/workers/search.07f07601.min.js
  assets/javascripts/workers/search.07f07601.min.js.map
  assets/javascripts/workers/search.6ce7567c.min.js
  assets/javascripts/workers/search.6ce7567c.min.js.map
  assets/stylesheets/main.35f28582.min.css
  assets/stylesheets/main.35f28582.min.css.map
  assets/stylesheets/main.8c3ca2c6.min.css
  assets/stylesheets/main.8c3ca2c6.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

including windows_ubr into this pr
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

fixed formatting
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

reformat
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

Update ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

Bug 1859597 - updated Stub URI parser arguments to include windows_ubr and stub_build_id (#2638)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

[ci skip] Deployed 9dd54a22 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.525ec568.min.js
  assets/javascripts/bundle.525ec568.min.js.map
  assets/javascripts/bundle.d6f25eb3.min.js
  assets/javascripts/bundle.d6f25eb3.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Bump docker image version in CircleCI config
  .circleci/config.yml
Due: none

Bump docker image version in CircleCI config (#2642)
  .circleci/config.yml
Due: none

[ci skip] Deployed fb13c462 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.525ec568.min.js
  assets/javascripts/bundle.525ec568.min.js.map
  assets/javascripts/bundle.83f73b43.min.js
  assets/javascripts/bundle.83f73b43.min.js.map
  assets/stylesheets/main.0253249f.min.css
  assets/stylesheets/main.0253249f.min.css.map
  assets/stylesheets/main.8c3ca2c6.min.css
  assets/stylesheets/main.8c3ca2c6.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Remove pioneer/rally special cases (#2621)
  docs/architecture/overview.md
  docs/ingestion-beam/rally-job.md
  ingestion-beam/bin/download-schemas
  ingestion-beam/bin/run-pioneer-benchmark
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/PioneerBenchmarkGenerator.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/rally/DecryptPayloads.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/rally/DecryptPioneerPayloads.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/rally/DecryptRallyPayloads.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/util/KeyStore.java
  ingestion-beam/src/main/resources/telemetry.pioneer-study.4.schema.json
  ingestion-beam/src/test/java/com/mozilla/telemetry/DecoderMainTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/rally/DecryptPayloadsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/rally/DecryptPioneerPayloadsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/rally/DecryptRallyPayloadsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/integration/KeyStoreIntegrationTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/util/KeyStoreTest.java
  ingestion-beam/src/test/resources/pioneer.py
  ingestion-beam/src/test/resources/pioneer/bug-1691807.deletion-request.invalid.study-bar.ciphertext.json
  ingestion-beam/src/test/resources/pioneer/bug-1691807.deletion-request.valid.study-bar.ciphertext.json
  ingestion-beam/src/test/resources/pioneer/bug-1691807.pioneer-enrollment.invalid.study-bar.ciphertext.json
  ingestion-beam/src/test/resources/pioneer/bug-1691807.pioneer-enrollment.valid.study-bar.ciphertext.json
  ingestion-beam/src/test/resources/pioneer/deletion-request.sample.json
  ingestion-beam/src/test/resources/pioneer/metadata-decoder.json
  ingestion-beam/src/test/resources/pioneer/metadata-integration.json
  ingestion-beam/src/test/resources/pioneer/metadata-invalid.json
  ingestion-beam/src/test/resources/pioneer/metadata-local.json
  ingestion-beam/src/test/resources/pioneer/pioneer-enrollment.sample.json
  ingestion-beam/src/test/resources/pioneer/sample.plaintext.json
  ingestion-beam/src/test/resources/pioneer/study-bar.ciphertext.json
  ingestion-beam/src/test/resources/pioneer/study-bar.private.json
  ingestion-beam/src/test/resources/pioneer/study-bar.public.json
  ingestion-beam/src/test/resources/pioneer/study-foo.ciphertext.json
  ingestion-beam/src/test/resources/pioneer/study-foo.private.json
  ingestion-beam/src/test/resources/pioneer/study-foo.public.json
  ingestion-beam/src/test/resources/pioneer/telemetry.pioneer-study.4.sample.pass.json
Due: ingestion_beam

[ci skip] Deployed 9100a2d5 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  search/search_index.json
Due: ingestion_beam, ingestion_edge, ingestion_sink

Fix non-deterministic behavior in PubsubLiteCompatTest
  ingestion-beam/src/test/java/com/mozilla/telemetry/transforms/PubsubLiteCompatTest.java
Due: ingestion_beam

[ci skip] Deployed 552a2ef5 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed ce888faf with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Scrub apps
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bump spring-core to 5.3.39
  ingestion-beam/pom.xml
Due: ingestion_beam

Ignore Spring 6.x in dependabot.yml
  .github/dependabot.yml
Due: none

Bump Beam SDK to 2.60.0
  ingestion-beam/pom.xml
  ingestion-beam/src/main/java/com/mozilla/telemetry/avro/BinaryRecordFormatter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/avro/PubsubMessageRecordFormatter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/io/Write.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/avro/PubsubMessageRecordFormatterTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/integration/BeamDependenciesIntegrationTest.java
  pom.xml
Due: ingestion_beam

[ci skip] Deployed e90cebc2 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Bump Beam SDK to 2.60.0 (#2658)
  ingestion-beam/pom.xml
  ingestion-beam/src/main/java/com/mozilla/telemetry/avro/BinaryRecordFormatter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/avro/PubsubMessageRecordFormatter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/io/Write.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/avro/PubsubMessageRecordFormatterTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/integration/BeamDependenciesIntegrationTest.java
  pom.xml
Due: ingestion_beam

[ci skip] Deployed 50925a19 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none
