Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

chore(beam): Ignore `com-codeedge-childrenfence` namespace (bug 2034078). (#2923)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed ba7907bd with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Add deprecated comments to specifications
  docs/architecture/decoder_service_specification.md
  docs/architecture/edge_service_specification.md
Due: none

SVCSE-4440 Add namespace-scoped PVC-scan mode to flush-manager
  ingestion-edge/ingestion_edge/flush_manager.py
  ingestion-edge/tests/unit/flush_manager/test_flush_pvcs.py
  ingestion-edge/tests/unit/flush_manager/test_main.py
Due: ingestion_edge

SVCSE-4440 Fix lint and type-check errors
  ingestion-edge/ingestion_edge/flush_manager.py
  ingestion-edge/tests/unit/flush_manager/test_flush_pvcs.py
Due: ingestion_edge

Scrub missing namespaces org-global-wxc62106 and more
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Scrub missing namespaces prefix org-global-wxc
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

removed empty spaces
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Scrub missing namespaces prefix org-global-wxc (#2927)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 23d67a23 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Scrub missing namespaces prefixes com-xiaobei-browser and firefox-desktop-background-defaultagent
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Update ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Scrub missing namespaces prefixes com-xiaobei-browser and firefox-desktop-background-defaultagent (#2932)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed b0ba0624 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[SVCSE-4447] Scrub coverage pings
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

refactor(ingestion-beam): simplify Decoder pipeline and dedupe log-entry geo lookups
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
Due: ingestion_beam

[ci skip] Deployed e621d935 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Bug 2042210 - Block `org-global-` namespaces
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

DENG-9533 - Add direct Pub/Sub ingestion path to Decoder
  .spelling
  docs/architecture/decoder_service_specification.md
  docs/architecture/diagram.svg
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/StampSubmissionTimestamp.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/DecoderMainTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/StampSubmissionTimestampTest.java
  ingestion-beam/src/test/resources/testdata/decoder-integration/directpubsub.ndjson
Due: ingestion_beam

Bug 2042210 - Block `org-global-` namespaces (#2937)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

chore(doc): Update ingestion diagram with direct Pub/Sub path.
  docs/architecture/diagram.svg
Due: none

DENG-9533 - Support ingesting Glean server pings submitted directly to Pub/Sub (#2857)
  .spelling
  docs/architecture/decoder_service_specification.md
  docs/architecture/diagram.svg
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/StampSubmissionTimestamp.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/DecoderMainTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/StampSubmissionTimestampTest.java
  ingestion-beam/src/test/resources/testdata/decoder-integration/directpubsub.ndjson
Due: ingestion_beam

[ci skip] Deployed 79506dc8 with MkDocs version: 1.6.1
  architecture/decoder_service_specification/index.html
  architecture/diagram.svg
  search/search_index.json
  sitemap.xml.gz
Due: none

DENG-9533 - Validate required attributes on direct Pub/Sub messages
  .spelling
  docs/architecture/decoder_service_specification.md
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/StampSubmissionTimestamp.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/DecoderMainTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/StampSubmissionTimestampTest.java
  ingestion-beam/src/test/resources/testdata/decoder-integration/directpubsub-invalid.ndjson
Due: ingestion_beam

DENG-9533 - Validate required attributes on direct Pub/Sub messages (#2938)
  .spelling
  docs/architecture/decoder_service_specification.md
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/StampSubmissionTimestamp.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/DecoderMainTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/StampSubmissionTimestampTest.java
  ingestion-beam/src/test/resources/testdata/decoder-integration/directpubsub-invalid.ndjson
Due: ingestion_beam

[ci skip] Deployed c12f41df with MkDocs version: 1.6.1
  architecture/decoder_service_specification/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Stop baking CircleCI OIDC token into images via circleci.env
  .circleci/config.yml
  ingestion-edge/docker-compose.circleci.yml
  ingestion-sink/docker-compose.circleci.yml
Due: ingestion_edge, ingestion_sink

Stop baking CircleCI OIDC token into images via circleci.env (#2939)
  .circleci/config.yml
  ingestion-edge/docker-compose.circleci.yml
  ingestion-sink/docker-compose.circleci.yml
Due: ingestion_edge, ingestion_sink

Update documentation, add agent instructions
  .spelling
  AGENTS.md
  CLAUDE.md
  docs/index.md
  docs/ingestion-beam/decoder-job.md
Due: none

Update documentation, add agent instructions (#2940)
  .spelling
  AGENTS.md
  CLAUDE.md
  docs/index.md
  docs/ingestion-beam/decoder-job.md
Due: none

[ci skip] Deployed 51e936f6 with MkDocs version: 1.6.1
  index.html
  ingestion-beam/decoder-job/index.html
  search/search_index.json
  sitemap.xml.gz
Due: ingestion_beam

fix(ci): Point build-and-push workflows at mozilla/deploy-actions
  .github/workflows/build-and-push-edge.yaml
  .github/workflows/build-and-push-sink.yaml
Due: none

fix(ci): Point build-and-push workflows at mozilla/deploy-actions (#2942)
  .github/workflows/build-and-push-edge.yaml
  .github/workflows/build-and-push-sink.yaml
Due: none

[ci skip] Deployed 3d8621d6 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[Bug 2039430] Scrub unwanted combination of namespace and doctype (firefox-desktop-background-defaultagent)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Fix codecov signing key
  .circleci/config.yml
Due: none
