Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

[DENG-7734] Drop search terms data (#2726)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParsePayloadTest.java
Due: ingestion_beam

[ci skip] Deployed 9c415ed8 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[DENG-7762] Drop user-characteristics ping from Firefox Android
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

[DENG-7762] Drop user-characteristics ping from Firefox Android (#2727)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Parse amplitude events
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/InvalidAttributeException.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Config file for allowed events
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudePublisherOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
Due: ingestion_beam

SendRequest to Amplitude API implementation
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
Due: ingestion_beam

Add sampling option
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudePublisherOptions.java
Due: ingestion_beam

Add some tests for parsing and filtering of amplitude events
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/FilterByDocTypeTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
  ingestion-beam/src/test/resources/amplitude/eventsAllowlist.csv
Due: ingestion_beam

[ci skip] Deployed 73ee87fb with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.60a45f97.min.js
  assets/javascripts/bundle.60a45f97.min.js.map
  assets/javascripts/bundle.f13b1293.min.js
  assets/javascripts/bundle.f13b1293.min.js.map
  assets/stylesheets/main.a40c8224.min.css
  assets/stylesheets/main.a40c8224.min.css.map
  assets/stylesheets/main.d7758b05.min.css
  assets/stylesheets/main.d7758b05.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Add tests for parsing amplitude events
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
  ingestion-beam/src/test/resources/amplitude/eventsAllowlist.csv
Due: ingestion_beam

[DENG-7836] Add firefox-b-vv to search code allowlist
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[DENG-7836] Add firefox-b-vv to search code allowlist (#2730)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 0bfdd44e with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 5a2af831 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.f13b1293.min.js
  assets/javascripts/bundle.f13b1293.min.js.map
  assets/javascripts/bundle.f1b6f286.min.js
  assets/javascripts/bundle.f1b6f286.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Add tests for SendRequest
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Add comments
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
Due: ingestion_beam

[ci skip] Deployed 2f1385fd with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Add batching of events sent to amplitude
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudePublisherOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
Due: ingestion_beam

Add more event information for amplitude
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
Due: ingestion_beam

Add docs
  .spelling
  docs/ingestion-beam/amplitude-job.md
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
Due: ingestion_beam

[PoC] Add Sink test for labeled_labeled_counter metric
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNodeSinkTest.java
  ingestion-core/src/test/resources/schema/test-schemas/schemas/labeled_labeled_counter/test/test.1.bq
  ingestion-core/src/test/resources/testdata/payload-format-labeled-labeled-counter-expected.ndjson
  ingestion-core/src/test/resources/testdata/payload-format-labeled-labeled-counter-input.ndjson
Due: ingestion_beam, ingestion_core, ingestion_sink

Prepare amplitude job for deployment and testing
  docs/ingestion-beam/amplitude-job.md
  ingestion-beam/bin/download-document-sample
  ingestion-beam/bin/run-amplitude-dev.sh
  ingestion-beam/document_sample.ndjson
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudePublisherOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
  ingestion-beam/src/test/resources/amplitude/eventsAllowlist.csv
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed c0c1b147 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/stylesheets/main.8608ea7d.min.css
  assets/stylesheets/main.8608ea7d.min.css.map
  assets/stylesheets/main.d7758b05.min.css
  assets/stylesheets/main.d7758b05.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Fix JSON serialization and update deploy
  docs/ingestion-beam/amplitude-job.md
  ingestion-beam/bin/run-amplitude-dev.sh
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudePublisherOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/AmplitudeEventTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
Due: ingestion_beam

Add device_model, device_manufacturer, experiments
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/AmplitudeEventTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Move experiments to user properties
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/AmplitudeEventTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
Due: ingestion_beam

Improve batching performance
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudePublisherOptions.java
Due: ingestion_beam

[ci skip] Deployed bcc52517 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 34681517 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[DENG-7898] Add firefox-b-tf to search code allow list
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[DENG-7898] Add firefox-b-tf to search code allow list (#2737)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed df6f33fa with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Bug 1947334 - Drop org-lilo-browser-chrome-ios-herebedragons namespace
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1947334 - Drop org-lilo-browser-chrome-ios-herebedragons namespace (#2743)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam
