Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

Add explicit interaction type for search-with
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
Due: ingestion_beam

Add support for new searchwith contextual services ping (#2531)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

[ci skip] Deployed 726c73ae with MkDocs version: 1.5.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.7389ff0e.min.js
  assets/javascripts/bundle.7389ff0e.min.js.map
  assets/javascripts/bundle.c18c5fb9.min.js
  assets/javascripts/bundle.c18c5fb9.min.js.map
  assets/javascripts/workers/search.b8dbb3d2.min.js
  assets/javascripts/workers/search.b8dbb3d2.min.js.map
  assets/javascripts/workers/search.c011b7c0.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Add desktop ping handling.
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterByDocType.java
Due: ingestion_beam

Add desktop ping handling. (#2542)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterByDocType.java
Due: ingestion_beam

[ci skip] Deployed d970cb79 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Update documentation to remove reference to PBD (#2528)
  docs/ingestion-sink/index.md
Due: none

[ci skip] Deployed 2f5160c8 with MkDocs version: 1.5.3
  ingestion-sink/index.html
  search/search_index.json
  sitemap.xml.gz
Due: ingestion_sink

[ci skip] Deployed 3736c387 with MkDocs version: 1.5.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.c18c5fb9.min.js
  assets/javascripts/bundle.c18c5fb9.min.js.map
  assets/javascripts/bundle.e1c3ead8.min.js
  assets/javascripts/bundle.e1c3ead8.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed f25d3770 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 3d566916 with MkDocs version: 1.5.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.8fd75fb4.min.js
  assets/javascripts/bundle.8fd75fb4.min.js.map
  assets/javascripts/bundle.e1c3ead8.min.js
  assets/javascripts/bundle.e1c3ead8.min.js.map
  assets/stylesheets/main.50c56a3b.min.css
  assets/stylesheets/main.50c56a3b.min.css.map
  assets/stylesheets/main.f2e4d321.min.css
  assets/stylesheets/main.f2e4d321.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Fix PipelineMetadataStore
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStore.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Remove @Nullable annotations
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStore.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Make bq_ properties in PipelineMetadataStore nullable
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStore.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Make bq_ properties in PipelineMetadataStore nullable (#2548)
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStore.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed 48ec545d with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Drop data from the ecosia app (firefox-ios fork)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1883854 - Drop data from the ecosia app (firefox-ios fork) (#2554)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed bc7d3ee1 with MkDocs version: 1.5.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.8fd75fb4.min.js
  assets/javascripts/bundle.8fd75fb4.min.js.map
  assets/javascripts/bundle.c8d2eff1.min.js
  assets/javascripts/bundle.c8d2eff1.min.js.map
  assets/stylesheets/main.7e359304.min.css
  assets/stylesheets/main.7e359304.min.css.map
  assets/stylesheets/main.f2e4d321.min.css
  assets/stylesheets/main.f2e4d321.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 3a41949b with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed bc8d0837 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 93e0af62 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed f59edf1c with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Add CODEOWNERS for Ads Eng
  .github/CODEOWNERS
Due: none

Add metric for low IP reputation
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
Due: ingestion_beam

Refactor ParseReportingUrl
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
Due: ingestion_beam

Add support for mobile suggest pings to ParseReportingUrl
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

[ci skip] Deployed 4fc64564 with MkDocs version: 1.5.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.bd41221c.min.js
  assets/javascripts/bundle.bd41221c.min.js.map
  assets/javascripts/bundle.c8d2eff1.min.js
  assets/javascripts/bundle.c8d2eff1.min.js.map
  assets/stylesheets/main.10ba22f1.min.css
  assets/stylesheets/main.10ba22f1.min.css.map
  assets/stylesheets/main.7e359304.min.css
  assets/stylesheets/main.7e359304.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Add Glean namespaces/doctypes to dev script
  ingestion-beam/bin/run-contextual-services-dev.sh
Due: ingestion_beam

Add support for mobile suggest pings (#2562)
  .github/CODEOWNERS
  ingestion-beam/bin/run-contextual-services-dev.sh
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

[ci skip] Deployed 868a3fef with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Remove invalid mobile namespaces
  ingestion-beam/bin/run-contextual-services-dev.sh
Due: ingestion_beam

Remove invalid mobile namespaces (#2564)
  ingestion-beam/bin/run-contextual-services-dev.sh
Due: ingestion_beam

[ci skip] Deployed feaf7ffc with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Fix namespace types for Mobile Suggest
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Fix namespace types for Mobile Suggest (#2566)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

[ci skip] Deployed d39faf72 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 591690b6 with MkDocs version: 1.5.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/stylesheets/main.10ba22f1.min.css
  assets/stylesheets/main.10ba22f1.min.css.map
  assets/stylesheets/main.7e359304.min.css
  assets/stylesheets/main.7e359304.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Scrub apps
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
