Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

Add test to reproduce https://github.com/mozilla/gcp-ingestion/issues/2609
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNodeSinkTest.java
  ingestion-core/src/test/resources/testdata/payload-format-duplicate-normalized-map-field-expected.ndjson
  ingestion-core/src/test/resources/testdata/payload-format-duplicate-normalized-map-field-input.ndjson
Due: ingestion_beam, ingestion_core, ingestion_sink

AE-443 Updated quick-suggest clickURL required params.
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

AE-443 Updated quick-suggest clickURL required params.
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
Due: ingestion_beam

AE-443 Updated quick-suggest clickURL required params.
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

AE-443 Updated quick-suggest clickURL required params. (#2611)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed 93177e6f with MkDocs version: 1.6.0
  sitemap.xml.gz
Due: none

Remove query parameter validation for topsites clicks
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Remove query parameter validation for topsites clicks (#2612)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

[ci skip] Deployed 300f4e42 with MkDocs version: 1.6.0
  sitemap.xml.gz
Due: none

Relax URL validation rules for suggest clicks
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
Due: ingestion_beam

Relax URL validation rules for suggest clicks (#2614)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
Due: ingestion_beam

Remove all query parameter validation for AMP URLs
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Remove all query parameter validation for AMP URLs (#2615)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

[ci skip] Deployed fb0ec9bf with MkDocs version: 1.6.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed e7c62de3 with MkDocs version: 1.6.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.ad660dcc.min.js
  assets/javascripts/bundle.ad660dcc.min.js.map
  assets/javascripts/bundle.fe8b6f2b.min.js
  assets/javascripts/bundle.fe8b6f2b.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Bug 1907131 remove namespace com-goodtoolapps-zeus.baseline
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Remove ping name
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1907131 remove namespace com-goodtoolapps-zeus.baseline (#2618)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 4a5a37f9 with MkDocs version: 1.6.0
  sitemap.xml.gz
Due: none

Remove pioneer/rally special cases
  docs/architecture/overview.md
  docs/ingestion-beam/rally-job.md
  ingestion-beam/bin/download-schemas
  ingestion-beam/bin/run-pioneer-benchmark
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/PioneerBenchmarkGenerator.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/rally/DecryptPayloads.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/rally/DecryptPioneerPayloads.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/rally/DecryptRallyPayloads.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/util/KeyStore.java
  ingestion-beam/src/main/resources/telemetry.pioneer-study.4.schema.json
  ingestion-beam/src/test/java/com/mozilla/telemetry/DecoderMainTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/rally/DecryptPayloadsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/rally/DecryptPioneerPayloadsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/rally/DecryptRallyPayloadsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/integration/KeyStoreIntegrationTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/util/KeyStoreTest.java
  ingestion-beam/src/test/resources/pioneer.py
  ingestion-beam/src/test/resources/pioneer/bug-1691807.deletion-request.invalid.study-bar.ciphertext.json
  ingestion-beam/src/test/resources/pioneer/bug-1691807.deletion-request.valid.study-bar.ciphertext.json
  ingestion-beam/src/test/resources/pioneer/bug-1691807.pioneer-enrollment.invalid.study-bar.ciphertext.json
  ingestion-beam/src/test/resources/pioneer/bug-1691807.pioneer-enrollment.valid.study-bar.ciphertext.json
  ingestion-beam/src/test/resources/pioneer/deletion-request.sample.json
  ingestion-beam/src/test/resources/pioneer/metadata-decoder.json
  ingestion-beam/src/test/resources/pioneer/metadata-integration.json
  ingestion-beam/src/test/resources/pioneer/metadata-invalid.json
  ingestion-beam/src/test/resources/pioneer/metadata-local.json
  ingestion-beam/src/test/resources/pioneer/pioneer-enrollment.sample.json
  ingestion-beam/src/test/resources/pioneer/sample.plaintext.json
  ingestion-beam/src/test/resources/pioneer/study-bar.ciphertext.json
  ingestion-beam/src/test/resources/pioneer/study-bar.private.json
  ingestion-beam/src/test/resources/pioneer/study-bar.public.json
  ingestion-beam/src/test/resources/pioneer/study-foo.ciphertext.json
  ingestion-beam/src/test/resources/pioneer/study-foo.private.json
  ingestion-beam/src/test/resources/pioneer/study-foo.public.json
  ingestion-beam/src/test/resources/pioneer/telemetry.pioneer-study.4.sample.pass.json
Due: ingestion_beam

Send suggest interactions from prerelease channels to AMP
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/VerifyMetadata.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/VerifyMetadataTest.java
Due: ingestion_beam

Send suggest interactions from prerelease channels to AMP (#2589)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/VerifyMetadata.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/VerifyMetadataTest.java
Due: ingestion_beam

[ci skip] Deployed 4d8d275e with MkDocs version: 1.6.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/stylesheets/main.3cba04c6.min.css
  assets/stylesheets/main.3cba04c6.min.css.map
  assets/stylesheets/main.6543a935.min.css
  assets/stylesheets/main.6543a935.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Don't try to expand map values again for duplicate normalized field names
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNode.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Merge tests
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNodeSinkTest.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Update comment
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNode.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Add test to validate boolean to float coercion
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNodeBeamTest.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Modify input example to show which values are overwritten
  ingestion-core/src/test/resources/testdata/payload-format-duplicate-normalized-field-names-input.ndjson
  ingestion-core/src/test/resources/testdata/payload-format-duplicate-normalized-map-field-input.ndjson
Due: ingestion_beam, ingestion_core, ingestion_sink

Coerce boolean values to floats for FLOAT fields in Sink
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/PubsubMessageToTableRow.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNode.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed 35b03c2b with MkDocs version: 1.6.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.471ce7a9.min.js
  assets/javascripts/bundle.471ce7a9.min.js.map
  assets/javascripts/bundle.fe8b6f2b.min.js
  assets/javascripts/bundle.fe8b6f2b.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Update ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNode.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNode.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Fix boolean to float coercion in ingestion sink (#2627)
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/PubsubMessageToTableRow.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNode.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNodeBeamTest.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed 0a5ef4a6 with MkDocs version: 1.6.0
  sitemap.xml.gz
Due: none

Fix handling of duplicate normalized field names in sink (#2610)
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNode.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNodeSinkTest.java
  ingestion-core/src/test/resources/testdata/payload-format-duplicate-normalized-field-names-expected.ndjson
  ingestion-core/src/test/resources/testdata/payload-format-duplicate-normalized-field-names-input.ndjson
  ingestion-core/src/test/resources/testdata/payload-format-duplicate-normalized-map-field-expected.ndjson
  ingestion-core/src/test/resources/testdata/payload-format-duplicate-normalized-map-field-input.ndjson
Due: ingestion_beam, ingestion_core, ingestion_sink

feat: add io-orbitmobile-firefox to ignore list
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
