Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

[Bug 2039430] Scrub unwanted combination of namespace and doctype (firefox-desktop-background-defaultagent)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 8dd42bed with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

feat(ingestion-beam): support Artifact registry for schemas artifact
  ingestion-beam/src/main/java/com/mozilla/telemetry/options/SinkOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/util/ArtifactRegistryInputStream.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/util/BeamFileInputStream.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/util/ArtifactRegistryInputStreamTest.java
Due: ingestion_beam

chore(ingestion-beam): improve encoding semantics
  ingestion-beam/src/main/java/com/mozilla/telemetry/util/ArtifactRegistryInputStream.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/util/ArtifactRegistryInputStreamTest.java
Due: ingestion_beam

Change primary color from teal to coral
  mkdocs.yml
Due: none

feat(ingestion-beam): support Artifact registry for schemas artifact (#2946)
  ingestion-beam/src/main/java/com/mozilla/telemetry/options/SinkOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/util/ArtifactRegistryInputStream.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/util/BeamFileInputStream.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/util/ArtifactRegistryInputStreamTest.java
Due: ingestion_beam

[ci skip] Deployed 8147cda3 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Remove Pub/Sub Lite support
  ingestion-beam/src/main/java/com/mozilla/telemetry/io/Read.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/io/Write.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/options/InputType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/options/OutputType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/PubsubLiteCompat.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/integration/PubsubLiteIntegrationTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/transforms/PubsubLiteCompatTest.java
  ingestion-sink/pom.xml
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/config/SinkConfig.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/PubsubLite.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/SinkPubsubLiteIntegrationTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/PubsubLiteReadTest.java
Due: ingestion_beam, ingestion_sink

Remove Pub/Sub Lite support (#2949)
  ingestion-beam/src/main/java/com/mozilla/telemetry/io/Read.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/io/Write.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/options/InputType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/options/OutputType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/PubsubLiteCompat.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/integration/PubsubLiteIntegrationTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/transforms/PubsubLiteCompatTest.java
  ingestion-sink/pom.xml
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/config/SinkConfig.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/PubsubLite.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/SinkPubsubLiteIntegrationTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/PubsubLiteReadTest.java
Due: ingestion_beam, ingestion_sink

[ci skip] Deployed e4ba31b6 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[DENG-8811] Add GitHub Actions workflows for CircleCI migration
  .github/workflows/docs.yaml
  .github/workflows/ingestion-edge.yaml
  .github/workflows/java.yaml
Due: none

fix(ci): constrain pip to <26 for pip-tools 7.4.1 compatibility
  .github/workflows/ingestion-edge.yaml
Due: none

fix(ci): tighten pip constraint to <25 for pip-tools 7.4.1 compatibility
  .github/workflows/ingestion-edge.yaml
Due: none

temporarily add workflow_dispatch to test Java jobs
  .github/workflows/java.yaml
Due: none

Revert "temporarily add workflow_dispatch to test Java jobs"
  .github/workflows/java.yaml
Due: none

trigger java workflow
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
Due: ingestion_beam

temporarily add cov-report=term-missing to debug coverage gap
  .github/workflows/ingestion-edge.yaml
Due: none

trigger java workflow
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/util/Time.java
Due: ingestion_beam, ingestion_core, ingestion_sink

chore(ci): revert temporary cov-report=term-missing diagnostic
  .github/workflows/ingestion-edge.yaml
Due: none

fix(ci): add environment: dev to integration jobs to match WIF trust condition
  .github/workflows/java.yaml
Due: none

fix(ingestion-beam): point BigQuery load-job test at new static bucket
  ingestion-beam/src/test/java/com/mozilla/telemetry/integration/BigQueryIntegrationTest.java
Due: ingestion_beam

fix(ci): include checkstyle and workflow-file changes in Java change detection
  .github/workflows/java.yaml
Due: none

fix(ci): remove path-filtered triggers that could hang required checks forever
  .github/workflows/ingestion-edge.yaml
  .github/workflows/java.yaml
Due: none

revert: trigger java workflow
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/util/Time.java
Due: ingestion_beam, ingestion_core, ingestion_sink

fix(ci): add always() to job conditions so a failed changed job can't silently skip main
  .github/workflows/ingestion-edge.yaml
  .github/workflows/java.yaml
Due: none

refactor(ci): collapse Java jobs into a module matrix, single change-detection gate
  .github/workflows/java.yaml
Due: none

fix(ci): drop unused pip cache from ingestion-edge job
  .github/workflows/ingestion-edge.yaml
Due: none

fix(ci): serialize docs deploys and quote integration test glob
  .github/workflows/docs.yaml
  .github/workflows/java.yaml
Due: none

Filter out invalid doc versions in predecompress_submission_bytes counter
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/DecompressPayload.java
Due: ingestion_beam

Filter out invalid doc versions in predecompress_submission_bytes counter (#2959)
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/DecompressPayload.java
Due: ingestion_beam

[ci skip] Deployed 3b0333a1 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.79ae519e.min.js
  assets/javascripts/bundle.79ae519e.min.js.map
  assets/javascripts/bundle.d7400e89.min.js
  assets/javascripts/bundle.d7400e89.min.js.map
  assets/stylesheets/main.484c7ddc.min.css
  assets/stylesheets/main.484c7ddc.min.css.map
  assets/stylesheets/main.ec1eaa64.min.css
  assets/stylesheets/main.ec1eaa64.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

feat(ingestion-edge): allow flush-manager to run under PodSecurity restricted
  ingestion-edge/ingestion_edge/flush_manager.py
Due: ingestion_edge

test(ingestion-edge): cover restricted_security_context branch in flush-manager
  ingestion-edge/tests/unit/flush_manager/test_create_job.py
Due: ingestion_edge

feat(ingestion-edge): allow flush-manager Jobs to inherit node scheduling
  ingestion-edge/ingestion_edge/flush_manager.py
  ingestion-edge/tests/unit/flush_manager/test_create_job.py
Due: ingestion_edge

fix(ingestion-edge): eliminate unreachable branch in flush-manager tolerations
  ingestion-edge/ingestion_edge/flush_manager.py
Due: ingestion_edge

fix(ingestion-edge): use Optional for nullable Dict/List params
  ingestion-edge/ingestion_edge/flush_manager.py
Due: ingestion_edge

fix(ingestion-edge): accept camelCase toleration keys; cite mozcloud uid
  ingestion-edge/ingestion_edge/flush_manager.py
  ingestion-edge/tests/unit/flush_manager/test_create_job.py
Due: ingestion_edge

chore(ingestion-edge): stop failing CI on sub-100% coverage
  ingestion-edge/bin/pytest-all
Due: ingestion_edge

chore(ingestion-edge): also emit term-missing coverage in CI
  ingestion-edge/bin/pytest-all
Due: ingestion_edge
