Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

Remove Amplitude POC
  docs/ingestion-beam/amplitude-job.md
  ingestion-beam/bin/run-amplitude-dev.sh
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudePublisherOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/InvalidAttributeException.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/AmplitudePublisherTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/AmplitudeEventTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/FilterByDocTypeTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
  ingestion-beam/src/test/resources/amplitude/apiKeys.csv
  ingestion-beam/src/test/resources/amplitude/eventsAllowlist.csv
Due: ingestion_beam

[ci skip] Deployed 37f74c25 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.13a4f30d.min.js
  assets/javascripts/bundle.13a4f30d.min.js.map
  assets/javascripts/bundle.56ea9cef.min.js
  assets/javascripts/bundle.56ea9cef.min.js.map
  index.html
  ingestion-beam/amplitude-job/index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  search/search_index.json
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Test schemas with dual labeled counter
  ingestion-beam/bin/download-schemas
Due: ingestion_beam

[DENG-8496] Mark telemetry modules ping as unwanted
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[DENG-8496] Mark telemetry modules ping as unwanted (#2811)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 34664896 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[DENG-8592] Implement Posthog POC event pipeline
  .spelling
  docs/ingestion-beam/posthog-job.md
  ingestion-beam/bin/run-posthog-dev.sh
  ingestion-beam/src/main/java/com/mozilla/telemetry/PosthogPublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/InvalidAttributeException.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/ParsePosthogEvents.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/PosthogEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/PosthogPublisherOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/SendPosthogRequest.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/PosthogPublisherTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/FilterByDocTypeTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/ParsePosthogEventsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/PosthogEventTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/SendPosthogRequestTest.java
  ingestion-beam/src/test/resources/posthog/apiKeys.csv
  ingestion-beam/src/test/resources/posthog/eventsAllowlist.csv
Due: ingestion_beam

[ci skip] Deployed f513158b with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/posthog-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  search/search_index.json
Due: ingestion_beam, ingestion_edge, ingestion_sink

DENG-4080 - Update base image debian version
  ingestion-edge/Dockerfile
Due: ingestion_edge

[DENG-8592] Improve SendPosthogRequest throughput by sharding keys and adding reshuffle
  ingestion-beam/src/main/java/com/mozilla/telemetry/PosthogPublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/PosthogEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/SendPosthogRequest.java
Due: ingestion_beam

[ci skip] Deployed 80621c11 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[DENG-8592] Flatten event extras when sending events to Posthog
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/PosthogEvent.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/PosthogEventTest.java
Due: ingestion_beam

Event extras values are always strings
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/PosthogEvent.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/PosthogEventTest.java
Due: ingestion_beam

Bug 1978366: scrub org-hexis-firefox
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed bd79762c with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Bug 1978366: scrub org-hexis-firefox (#2818)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 7d0de8d9 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[DENG-8592] Flatten experiment properties when sending events to Posthog
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/PosthogEvent.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/PosthogEventTest.java
Due: ingestion_beam

[ci skip] Deployed b30780cb with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed c8b00c6e with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.50899def.min.js
  assets/javascripts/bundle.50899def.min.js.map
  assets/javascripts/bundle.56ea9cef.min.js
  assets/javascripts/bundle.56ea9cef.min.js.map
  assets/stylesheets/main.342714a4.min.css
  assets/stylesheets/main.342714a4.min.css.map
  assets/stylesheets/main.7e37652d.min.css
  assets/stylesheets/main.7e37652d.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/posthog-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

DENG-4080 - Update base image debian version (#2813)
  ingestion-edge/Dockerfile
Due: ingestion_edge

[DENG-8496] Mark org-global-glaxy and org-mozilla-zxff as unwanted namespaces
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[DENG-8496] Mark org-global-glaxy and org-mozilla-zxff as unwanted namespaces (#2826)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed d4b046d3 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[DENG-8592] Remove Posthog POC
  docs/ingestion-beam/posthog-job.md
  ingestion-beam/bin/run-posthog-dev.sh
  ingestion-beam/src/main/java/com/mozilla/telemetry/PosthogPublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/InvalidAttributeException.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/ParsePosthogEvents.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/PosthogEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/PosthogPublisherOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/posthog/SendPosthogRequest.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/PosthogPublisherTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/FilterByDocTypeTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/ParsePosthogEventsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/PosthogEventTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/posthog/SendPosthogRequestTest.java
Due: ingestion_beam

[DENG-9179] add new bing partner code
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[DENG-9217] add new google partner code
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[DENG-9217] add new google partner code (#2828)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 73e2938b with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[DENG-9179] add new bing partner code (#2829)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
