Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

[ci skip] Deployed ec741808 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed faf0f712 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed fb287ca1 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.83f73b43.min.js
  assets/javascripts/bundle.83f73b43.min.js.map
  assets/javascripts/bundle.88dd0f4e.min.js
  assets/javascripts/bundle.88dd0f4e.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Ignore `us-spotco-fennec-dos` namespace (bug 1938660)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed bba4b670 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed fb7e9ed9 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Changing windows_ubr to be received as string type, and updating ping version to 10
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

Update ParseUri.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

update ping version number to account for windows_ubr and stub build id
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

Bug 1934302 - Add workaround for installer windows_ubr field
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Set v9 stub uri to 43 elements
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

Parse uri test
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

Increase dates in streaming integration tests
  ingestion-beam/src/test/java/com/mozilla/telemetry/integration/BigQueryIntegrationTest.java
  ingestion-beam/src/test/resources/testdata/bigquery-integration/input-decoded-format.ndjson
  ingestion-beam/src/test/resources/testdata/bigquery-integration/input-raw-format.ndjson
Due: ingestion_beam

Update ingestion-beam/src/test/java/com/mozilla/telemetry/integration/BigQueryIntegrationTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/integration/BigQueryIntegrationTest.java
Due: ingestion_beam

Update ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

Increase dates in streaming integration tests (#2721)
  ingestion-beam/src/test/java/com/mozilla/telemetry/integration/BigQueryIntegrationTest.java
  ingestion-beam/src/test/resources/testdata/bigquery-integration/input-decoded-format.ndjson
  ingestion-beam/src/test/resources/testdata/bigquery-integration/input-raw-format.ndjson
Due: ingestion_beam

[ci skip] Deployed 49ab2dae with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Add parse uri tests
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

Add reminder for version incrementing
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

fix comment style
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

update ping version number to account for windows_ubr and stub build id (#2719)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

[ci skip] Deployed 12ede2f1 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 0f1f3853 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.60a45f97.min.js
  assets/javascripts/bundle.60a45f97.min.js.map
  assets/javascripts/bundle.88dd0f4e.min.js.map
  assets/javascripts/workers/search.6ce7567c.min.js.map
  assets/javascripts/workers/search.f8cc74c7.min.js
  assets/javascripts/workers/search.f8cc74c7.min.js.map
  assets/stylesheets/main.6f8fc17f.min.css
  assets/stylesheets/main.a40c8224.min.css
  assets/stylesheets/main.a40c8224.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Bump Avro version to match Beam 2.62.0
  pom.xml
Due: none

Add backfill script for posterity, change parse uri to convert v9 to v10 based on number of elements in URI
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/start_dataflow_20250122.sh
Due: ingestion_beam

Bug 1941536 - Ignore com-atomic-browser-ios-client namespace
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1941536 - Ignore com-atomic-browser-ios-client namespace (#2724)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 3d156f38 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed d2d3a361 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Setup Amplitude pipeline
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudePublisherOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[DENG-7734] Drop search terms data
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParsePayloadTest.java
Due: ingestion_beam

codecov
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParsePayloadTest.java
Due: ingestion_beam
