Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

Move ghost counter metric initialization into the constructor to switch based on eventType
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelSpikes.java
Due: ingestion_beam

More formatting
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
Due: ingestion_beam

Adjust Import Order
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
Due: ingestion_beam

Import order...again
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelSpikes.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
Due: ingestion_beam

[ci skip] Deployed 8a84e358 with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed d7211b75 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 6cf53f01 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed fe737cd6 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

Add run script for contextual services job in staging
  ingestion-beam/bin/run-contextual-services-dev.sh
Due: ingestion_beam

Update run options to the appropriate values -- see comments for details
  ingestion-beam/bin/run-contextual-services-dev.sh
Due: ingestion_beam

Rename variables to clarify where we have generalized click counting to count either clicks OR impressions
  ingestion-beam/bin/run-contextual-services-dev.sh
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ContextualServicesReporterOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelSpikes.java
Due: ingestion_beam

Address style checker concerns
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
Due: ingestion_beam

Run ./bin/mvn spotless:apply
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
Due: ingestion_beam

[ci skip] Deployed 1762990d with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

IDE keeps automatically inserting a star import, which our style checker hates. Undoing that here.
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
Due: ingestion_beam

[ci skip] Deployed 9e9cfde3 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed a8e0d9e3 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

Change job names so they will be easier to disambiguate in debugging
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
Due: ingestion_beam

Remove superfluous filter step
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
Due: ingestion_beam

I swear to you, the list of things I will do before I will make a debugging handle less specific and useful in order to pass a line length checkstyle error is both long and scandalous
  checkstyle/checks.xml
Due: none

Run bin/mvn spotless:apply
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
Due: ingestion_beam

[ci skip] Deployed 460ac137 with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.2a6f1dda.min.js
  assets/javascripts/bundle.2a6f1dda.min.js.map
  assets/javascripts/bundle.b78d2936.min.js
  assets/javascripts/bundle.b78d2936.min.js.map
  assets/stylesheets/main.113286f1.min.css
  assets/stylesheets/main.113286f1.min.css.map
  assets/stylesheets/main.402914a4.min.css
  assets/stylesheets/main.402914a4.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed a40f352e with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

filter out pings from com-abaqoo-browser as UnwantedData
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

filter out pings from com-abaqoo-browser as UnwantedData (#2303)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 87819ab8 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

Make error message trio for UNSET variable as WELL as blank one instead of just for blank one
  ingestion-beam/bin/run-contextual-services-dev.sh
Due: ingestion_beam

Actually show the stack trace if something goes wrong
  ingestion-beam/bin/run-contextual-services-dev.sh
Due: ingestion_beam

[ci skip] Deployed fa0c272e with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.b78d2936.min.js
  assets/javascripts/bundle.b78d2936.min.js.map
  assets/javascripts/bundle.fc8c2696.min.js
  assets/javascripts/bundle.fc8c2696.min.js.map
  assets/stylesheets/main.402914a4.min.css
  assets/stylesheets/main.402914a4.min.css.map
  assets/stylesheets/main.7bf56d0a.min.css
  assets/stylesheets/main.7bf56d0a.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 0e3ea817 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 2551d216 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 75e7cc11 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 65f9ed71 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

Add Antifraud Detection to Impressions (#2290)
  checkstyle/checks.xml
  ingestion-beam/bin/run-contextual-services-dev.sh
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/AggregateImpressions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/BuildReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ContextualServicesReporterOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelSpikes.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/TelemetryEventType.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/AggregateImpressionsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/LabelSpikesTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

[ci skip] Deployed 7eadf66c with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.efa0ade1.min.js
  assets/javascripts/bundle.efa0ade1.min.js.map
  assets/javascripts/bundle.fc8c2696.min.js
  assets/javascripts/bundle.fc8c2696.min.js.map
  assets/stylesheets/main.7bf56d0a.min.css
  assets/stylesheets/main.7bf56d0a.min.css.map
  assets/stylesheets/main.c4a75a56.min.css
  assets/stylesheets/main.c4a75a56.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

DENG-547 - Use metadata to indicate source for sample_id
  ingestion-beam/bin/download-schemas
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParsePayload.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParsePayloadTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStore.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStoreTest.java
  ingestion-core/src/test/resources/schema/test-schemas/schemas/namespace_0/bar/bar.1.schema.json
Due: ingestion_beam, ingestion_core, ingestion_sink

Change query parameter for suspected fraudulent impressions from the one I randomly made up in the absence of an answer to the key and value requested by our client, Ad Marketplace
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/BuildReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelSpikes.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
Due: ingestion_beam

update surefire flag
  .circleci/config.yml
Due: none

[ci skip] Deployed 12d236e0 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

put orn-nomi-noma into message scrubber
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
