Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

Added tests for search-with
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterByDocTypeTest.java
Due: ingestion_beam

New Bing partner codes
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Added test for unsupported ping
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterByDocTypeTest.java
Due: ingestion_beam

New Bing partner codes (#2762)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed a5bc0559 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Filter desktop top-sites pings to drop pings from version greater than 136 (#2761)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterByDocType.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterByDocTypeTest.java
Due: ingestion_beam

[ci skip] Deployed 67f204ef with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/amplitude-job/index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 86c6434f with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/amplitude-job/index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed fbdde925 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed c927b517 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed a8fd1a0f with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 4f4f17f8 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 65a65b28 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 654c9c4d with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/stylesheets/main.2afb09e1.min.css
  assets/stylesheets/main.2afb09e1.min.css.map
  assets/stylesheets/main.4af4bdda.min.css
  assets/stylesheets/main.4af4bdda.min.css.map
  index.html
  ingestion-beam/amplitude-job/index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[DENG-7762] Re-enable user-characteristics ping for firefox android
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

[DENG-7762] Re-enable user-characteristics ping for firefox android (#2751)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

[ci skip] Deployed ef6e8f1d with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Add country code and form factor to Sponsored Suggest reporting URLs
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-beam/src/test/resources/contextualServices/urlAllowlist.csv
Due: ingestion_beam

Address feedback
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Remove empty line
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Add country code and form factor to Sponsored Suggest reporting URLs (#2777)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-beam/src/test/resources/contextualServices/urlAllowlist.csv
Due: ingestion_beam

[ci skip] Deployed 70284fcd with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Scrub org-mozilla-limit
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed e0f97aaf with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed f6916bcd with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.13a4f30d.min.js
  assets/javascripts/bundle.13a4f30d.min.js.map
  assets/javascripts/bundle.c8b220af.min.js
  assets/javascripts/bundle.c8b220af.min.js.map
  assets/javascripts/workers/search.d50fe291.min.js
  assets/javascripts/workers/search.d50fe291.min.js.map
  assets/javascripts/workers/search.f8cc74c7.min.js
  assets/stylesheets/main.2afb09e1.min.css
  assets/stylesheets/main.2afb09e1.min.css.map
  assets/stylesheets/main.342714a4.min.css
  assets/stylesheets/main.342714a4.min.css.map
  index.html
  ingestion-beam/amplitude-job/index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[DENG-8480] Use CODEOWNERS for tagging reviewers for dependabot
  .github/dependabot.yml
  CODEOWNERS
Due: none

Add MZABT partner code
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Add MZABT partner code (#2783)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 758857a4 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/amplitude-job/index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
