Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

[ci skip] Deployed 1248b0c9 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 2ef53e46 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 505687a0 with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.6df46069.min.js
  assets/javascripts/bundle.6df46069.min.js.map
  assets/javascripts/bundle.a00a7c5e.min.js
  assets/javascripts/bundle.a00a7c5e.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

revert pip-compile unsafe handling
  .circleci/config.yml
  ingestion-edge/requirements.txt
Due: ingestion_edge

[ci skip] Deployed 6f387bb2 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed dac1a879 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 98a9ee6f with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 6941ffd9 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed a6a5ade6 with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.4b2c34cd.min.js
  assets/javascripts/bundle.4b2c34cd.min.js.map
  assets/javascripts/bundle.6df46069.min.js
  assets/javascripts/bundle.6df46069.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed ef152977 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed edac23fc with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 9232abe4 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

Add support for trusted proxy configuration in decoder
  ingestion-beam/pom.xml
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/IpPrivacyDecoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/GeoCityLookup.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseProxy.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/util/ProxyMatcher.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/AddMetadataTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseProxyTest.java
  ingestion-beam/src/test/resources/cloudfront-ip-ranges.json
  ingestion-beam/src/test/resources/google-ip-ranges
  ingestion-beam/src/test/resources/testdata/decoder-integration/output.ndjson
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/transform/NestedMetadata.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/NestedMetadataTest.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNodeBeamTest.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNodeSinkTest.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed c5926a03 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed c328f339 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 3bf197dd with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed bcc01356 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

Bug 1816487 - Scrub org-cloudveil-android-browser namespace
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1816487 - Scrub org-cloudveil-android-browser namespace (#2281)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 6892b19c with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed d3051b4c with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.2a6f1dda.min.js
  assets/javascripts/bundle.2a6f1dda.min.js.map
  assets/javascripts/bundle.4b2c34cd.min.js
  assets/javascripts/bundle.4b2c34cd.min.js.map
  assets/javascripts/workers/search.208ed371.min.js
  assets/javascripts/workers/search.208ed371.min.js.map
  assets/stylesheets/main.0d440cfe.min.css
  assets/stylesheets/main.0d440cfe.min.css.map
  assets/stylesheets/main.ffa9267a.min.css
  assets/stylesheets/main.ffa9267a.min.css.map
  assets/stylesheets/palette.2505c338.min.css
  assets/stylesheets/palette.2505c338.min.css.map
  assets/stylesheets/palette.a0c5b2b5.min.css
  assets/stylesheets/palette.a0c5b2b5.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed b5c7b53e with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 21347fcd with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed d642ccc0 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed c31256b1 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

Bug 1817821 - Drop firefox-desktop-background-update.new-metric-capture-emulation pings
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed b6d29b29 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

Change variable names for accuracy
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
Due: ingestion_beam

Generalize spike labeling to label spikes of either clicks or impressions
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ContextualServicesReporterOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelSpikes.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/LabelClickSpikesTest.java
Due: ingestion_beam

Parametrize the query param addition in spike labeling to facilitate different ky value pairs for different types of event
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelSpikes.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParsedReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/TelemetryEventType.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/LabelSpikesTest.java
Due: ingestion_beam

Aggregate presumed genuine and suspected fraudulent impressions separately
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
Due: ingestion_beam

I had the conditions for genuine and fraudulent filtering on their opposite cases. This fixes that.
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
Due: ingestion_beam

[ci skip] Deployed cd4dcecc with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/stylesheets/main.113286f1.min.css
  assets/stylesheets/main.113286f1.min.css.map
  assets/stylesheets/main.ffa9267a.min.css
  assets/stylesheets/main.ffa9267a.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 115f6b22 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

address review
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseProxy.java
Due: ingestion_beam

Ran ./bin/mvn spotless:apply to fix maven's formatting complaints, which were more or less all indentation-related
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ContextualServicesReporterOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelSpikes.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingURL.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/TelemetryEventType.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/LabelSpikesTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Acquiesce to Maven's formatting demands
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/AggregateImpressions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/BuildReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelSpikes.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/AggregateImpressionsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Individually import all dependent objects in contextualservices rather than asterisk
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
Due: ingestion_beam

Bubble up event type exception through tests
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/LabelSpikesTest.java
Due: ingestion_beam

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
