Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

[ci skip] Deployed 22865d71 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 4bfa705d with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 52543045 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed e1d4ae34 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

DENG-1164 - Request resources for flush jobs
  ingestion-edge/ingestion_edge/flush_manager.py
Due: ingestion_edge

DENG-1164 - Request resources for flush jobs (#2409)
  ingestion-edge/ingestion_edge/flush_manager.py
Due: ingestion_edge

[ci skip] Deployed 254888d7 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

Update docs
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseLogEntry.java
Due: ingestion_beam

Pin pyyaml version in ingestion-edge
  ingestion-edge/requirements.in
  ingestion-edge/requirements.txt
Due: ingestion_edge

Pin pyyaml version in ingestion-edge (#2415)
  ingestion-edge/requirements.in
  ingestion-edge/requirements.txt
Due: ingestion_edge

[ci skip] Deployed f77e8ba6 with MkDocs version: 1.4.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/stylesheets/main.26e3688c.min.css
  assets/stylesheets/main.26e3688c.min.css.map
  assets/stylesheets/main.eebd395e.min.css
  assets/stylesheets/main.eebd395e.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 7645a6b9 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed bd50d776 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed b614d9f3 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed f8a27781 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 16a06229 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 3cd17312 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 09e8ea7d with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 2519ed79 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 7aa3fe5f with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed b99d8aaf with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 6ed51856 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed b740dd29 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 871ed3dc with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 35859e3b with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

FXA-7925 - Add support for ingesting Cloud Logging messages (#2400)
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseLogEntry.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseLogEntryTest.java
  ingestion-beam/src/test/resources/testdata/logentry.ndjson
Due: ingestion_beam

[ci skip] Deployed 1de40922 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

DENG-1320 - Add support for decoding geo and user agent metadata in Cloud Logging-based telemetry
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseLogEntry.java
Due: ingestion_beam

Bug 1847643 - Scrub com-wheatleygroup-firefox
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1847643 - Scrub com-wheatleygroup-firefox (#2439)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed baefb578 with MkDocs version: 1.5.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Extract and scrub ip from log payloads to avoid landing them in error tables
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ExtractIpFromLogEntry.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseLogEntry.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ExtractIpFromLogEntryTest.java
  ingestion-beam/src/test/resources/testdata/logentry.ndjson
Due: ingestion_beam

DENG-1320 - Add support for decoding geo and user agent metadata in Cloud Logging-based telemetry (#2437)
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ExtractIpFromLogEntry.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseLogEntry.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ExtractIpFromLogEntryTest.java
  ingestion-beam/src/test/resources/testdata/logentry.ndjson
Due: ingestion_beam

[ci skip] Deployed 41b8c38c with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed e4944b9e with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 1f573859 with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

DENG-1267 - Handle geoip skip from metadata
  ingestion-beam/bin/download-schemas
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/IpPrivacyDecoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseProxy.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseProxyTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStore.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed 032112fd with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed f090e52a with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 036d5f3c with MkDocs version: 1.5.2
  sitemap.xml.gz
Due: none

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
