Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

Bug 1804285 - Scrub`com-netsweeper-clientfilter-homeprotectbylgfl` (#2225)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 7086170c with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

Add new Bing Acer partner code
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Add new Bing Acer partner code (#2230)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 84a1bede with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

Scrub com-differ-xiaoming
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed fb8d3447 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

Optimize schemas loading in the Decoder
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParsePayload.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/SanitizeAttributes.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/schema/SchemaStoreSingletonFactory.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/BigQuerySchemaStore.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/SchemaStore.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed 67a48b91 with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.5a2dcb6a.min.js
  assets/javascripts/bundle.5a2dcb6a.min.js.map
  assets/javascripts/bundle.ba449ae6.min.js
  assets/javascripts/bundle.ba449ae6.min.js.map
  assets/javascripts/extra/bundle.5f09fbc3.min.js
  assets/javascripts/extra/bundle.5f09fbc3.min.js.map
  assets/javascripts/workers/search.16e2a7d4.min.js
  assets/javascripts/workers/search.16e2a7d4.min.js.map
  assets/javascripts/workers/search.e5c33ebb.min.js
  assets/javascripts/workers/search.e5c33ebb.min.js.map
  assets/stylesheets/extra.0d2c79a8.min.css
  assets/stylesheets/extra.0d2c79a8.min.css.map
  assets/stylesheets/main.6b71719e.min.css
  assets/stylesheets/main.6b71719e.min.css.map
  assets/stylesheets/main.975780f9.min.css
  assets/stylesheets/main.975780f9.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed f1e8255d with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 92dde7ab with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

Rotate docs SSH key
  .circleci/config.yml
Due: none

Update pip-tools to 6.12.1
  .circleci/config.yml
  ingestion-edge/requirements.in
  ingestion-edge/requirements.txt
Due: ingestion_edge

Rotate docs SSH key (#2240)
  .circleci/config.yml
Due: none

[ci skip] Deployed 99de1e99 with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.51d95adb.min.js
  assets/javascripts/bundle.51d95adb.min.js.map
  assets/javascripts/bundle.ba449ae6.min.js
  assets/javascripts/bundle.ba449ae6.min.js.map
  assets/stylesheets/main.558e4712.min.css
  assets/stylesheets/main.558e4712.min.css.map
  assets/stylesheets/main.6b71719e.min.css
  assets/stylesheets/main.6b71719e.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 9c616514 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 0df65edd with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed a7dc05d0 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 38a234b1 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed add28d91 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 7a9355b6 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed f3790f65 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 0d57b6c3 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 2c31865a with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 7401a455 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 6b245a2e with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 58774b06 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 681f0efc with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed c17bb667 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 4eb149ac with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

Add DDG Linux Mint partner code
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Add DDG Linux Mint partner code (#2258)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed ae394471 with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Test branch for topsites-impression scaling
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
Due: ingestion_beam

[ci skip] Deployed 40889a58 with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.51d95adb.min.js
  assets/javascripts/bundle.51d95adb.min.js.map
  assets/javascripts/bundle.a00a7c5e.min.js
  assets/javascripts/bundle.a00a7c5e.min.js.map
  assets/javascripts/workers/search.db81ec45.min.js
  assets/javascripts/workers/search.db81ec45.min.js.map
  assets/javascripts/workers/search.e5c33ebb.min.js
  assets/javascripts/workers/search.e5c33ebb.min.js.map
  assets/stylesheets/main.0d440cfe.min.css
  assets/stylesheets/main.0d440cfe.min.css.map
  assets/stylesheets/main.558e4712.min.css
  assets/stylesheets/main.558e4712.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed f7b415e8 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 0862d8c1 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none
