Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

[ci skip] Deployed acdc1d22 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

hotfix: ctxsvc-reporter: report client suggest country, not gateway ip country (always US)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/ContextualServicesReporterMainTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-beam/src/test/resources/contextualServices/ohttpSuggestReportingInput.ndjson
Due: ingestion_beam

Clean up helpers and factor out ohttp class
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/Ohttp.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/VerifyMetadata.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/OhttpTest.java
Due: ingestion_beam

[DENG-8811] Add GitHub Actions workflows for CircleCI migration
  .github/workflows/docs.yaml
  .github/workflows/ingestion-edge.yaml
  .github/workflows/java.yaml
Due: none

Revert "temporarily add workflow_dispatch to test Java jobs"
  .github/workflows/java.yaml
Due: none

temporarily add workflow_dispatch to test Java jobs
  .github/workflows/java.yaml
Due: none

fix(ci): constrain pip to <26 for pip-tools 7.4.1 compatibility
  .github/workflows/ingestion-edge.yaml
Due: none

trigger java workflow
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
Due: ingestion_beam

fix(ci): tighten pip constraint to <25 for pip-tools 7.4.1 compatibility
  .github/workflows/ingestion-edge.yaml
Due: none

chore(ci): revert temporary cov-report=term-missing diagnostic
  .github/workflows/ingestion-edge.yaml
Due: none

fix(ci): add environment: dev to integration jobs to match WIF trust condition
  .github/workflows/java.yaml
Due: none

fix(ci): remove path-filtered triggers that could hang required checks forever
  .github/workflows/ingestion-edge.yaml
  .github/workflows/java.yaml
Due: none

fix(ci): include checkstyle and workflow-file changes in Java change detection
  .github/workflows/java.yaml
Due: none

temporarily add cov-report=term-missing to debug coverage gap
  .github/workflows/ingestion-edge.yaml
Due: none

fix(ingestion-beam): point BigQuery load-job test at new static bucket
  ingestion-beam/src/test/java/com/mozilla/telemetry/integration/BigQueryIntegrationTest.java
Due: ingestion_beam

trigger java workflow
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/util/Time.java
Due: ingestion_beam, ingestion_core, ingestion_sink

fix(ci): drop unused pip cache from ingestion-edge job
  .github/workflows/ingestion-edge.yaml
Due: none

fix(ci): serialize docs deploys and quote integration test glob
  .github/workflows/docs.yaml
  .github/workflows/java.yaml
Due: none

fix(ci): add always() to job conditions so a failed changed job can't silently skip main
  .github/workflows/ingestion-edge.yaml
  .github/workflows/java.yaml
Due: none

refactor(ci): collapse Java jobs into a module matrix, single change-detection gate
  .github/workflows/java.yaml
Due: none

revert: trigger java workflow
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/util/Time.java
Due: ingestion_beam, ingestion_core, ingestion_sink

fix(ci): gate job for Java checks, fix docs deploy, pin actions to SHAs
  .circleci/config.yml
  .github/dependabot.yml
  .github/workflows/docs.yaml
  .github/workflows/ingestion-edge.yaml
  .github/workflows/java.yaml
Due: none

ingestion-sink: Include the load job and table in load errors
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/BigQuery.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/BigQueryLoadTest.java
Due: ingestion_sink

ingestion-sink: Log batch failures from Errors and which batch failed
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/config/SinkConfig.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/Gcs.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/Pubsub.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/WriteWithErrors.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/util/BatchException.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/util/BatchWrite.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/PubsubTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/WriteWithErrorsTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/util/BatchWriteTest.java
Due: ingestion_sink

ingestion-sink: Improve batch and load failure logging (#2985)
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/config/SinkConfig.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/BigQuery.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/Gcs.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/Pubsub.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/io/WriteWithErrors.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/util/BatchException.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/util/BatchWrite.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/BigQueryLoadTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/PubsubTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/WriteWithErrorsTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/util/BatchWriteTest.java
Due: ingestion_sink

[ci skip] Deployed 219c01f5 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Validate country code and add tests documenting behavior for various styles of pings
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Add private constructor for Ohttp to reflect accurate test cov
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/Ohttp.java
Due: ingestion_beam

fix(ctxsvc-reporter): Report suggest country to AMP, not gateway IP country (#2984)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/Ohttp.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/VerifyMetadata.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/ContextualServicesReporterMainTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/OhttpTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-beam/src/test/resources/contextualServices/ohttpSuggestReportingInput.ndjson
Due: ingestion_beam

fix(ctxsvc-reporter): For direct pings, use IP country not client country
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/ContextualServicesReporterMainTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-beam/src/test/resources/contextualServices/ohttpSuggestReportingInput.ndjson
Due: ingestion_beam

architecture/bigquery_sink_specification: Note Beam sink job replaced by ingestion-sink on GKE
  docs/architecture/bigquery_sink_specification.md
Due: none

ingestion-beam/contextual-services-job: Add Glean firefox-desktop doctypes with version gating to inputs
  docs/ingestion-beam/contextual-services-job.md
Due: none

ingestion-beam/contextual-services-job: Rename LabelClickSpikes to LabelSpikes, add impression-spike detection
  docs/ingestion-beam/contextual-services-job.md
Due: none

ingestion-beam/decoder-job: Document new GeoIsp Lookup transform
  docs/ingestion-beam/decoder-job.md
Due: none

ingestion-beam/decoder-job: Document required --geoIspDatabase flag
  docs/ingestion-beam/decoder-job.md
Due: none

ingestion-beam/ingestion_testing_workflow: Note that ingestion-sink replaces the Beam Sink job
  docs/ingestion-beam/ingestion_testing_workflow.md
Due: none

Generalize country code check to IP country in addition to client-reported country
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
