Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

Improve batching performance
  ingestion-beam/bin/download-document-sample
  ingestion-beam/bin/run-amplitude-dev.sh
  ingestion-beam/document_sample.ndjson
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudePublisherOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
Due: ingestion_beam

Support Amplitude API key per app
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudePublisherOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
Due: ingestion_beam

Remove unnecessary decoding steps
  ingestion-beam/bin/run-amplitude-dev.sh
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
Due: ingestion_beam

Update error output docs
  docs/ingestion-beam/amplitude-job.md
Due: none

Remove unused imports
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
Due: ingestion_beam

Add back decompression
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
Due: ingestion_beam

Remove unused options from docs
  docs/ingestion-beam/amplitude-job.md
  ingestion-beam/bin/run-amplitude-dev.sh
Due: ingestion_beam

Update docs/ingestion-beam/amplitude-job.md
  docs/ingestion-beam/amplitude-job.md
Due: none

Update ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
Due: ingestion_beam

Add comments
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
Due: ingestion_beam

Prepare amplitude job for deployment and testing
  docs/ingestion-beam/amplitude-job.md
  ingestion-beam/bin/download-document-sample
  ingestion-beam/bin/run-amplitude-dev.sh
  ingestion-beam/document_sample.ndjson
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudePublisherOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
  ingestion-beam/src/test/resources/amplitude/eventsAllowlist.csv
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Setup Amplitude pipeline
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudePublisherOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Add more event information for amplitude
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
Due: ingestion_beam

Config file for allowed events
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudePublisherOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
Due: ingestion_beam

Add batching of events sent to amplitude
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudePublisherOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
Due: ingestion_beam

Fix JSON serialization and update deploy
  docs/ingestion-beam/amplitude-job.md
  ingestion-beam/bin/run-amplitude-dev.sh
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudePublisherOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/AmplitudeEventTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
Due: ingestion_beam

Add device_model, device_manufacturer, experiments
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/AmplitudeEventTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Parse amplitude events
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/InvalidAttributeException.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

SendRequest to Amplitude API implementation
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/transforms/FailureMessage.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
Due: ingestion_beam

Add sampling option
  ingestion-beam/src/main/java/com/mozilla/telemetry/AmplitudePublisher.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudePublisherOptions.java
Due: ingestion_beam

Add docs
  .spelling
  docs/ingestion-beam/amplitude-job.md
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
Due: ingestion_beam

Add some tests for parsing and filtering of amplitude events
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/FilterByDocTypeTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
  ingestion-beam/src/test/resources/amplitude/eventsAllowlist.csv
Due: ingestion_beam

Move experiments to user properties
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/AmplitudeEventTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
Due: ingestion_beam

Add tests for SendRequest
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

Add tests for parsing amplitude events
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/AmplitudeEvent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/SendRequest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/SendRequestTest.java
  ingestion-beam/src/test/resources/amplitude/eventsAllowlist.csv
Due: ingestion_beam

[ci skip] Deployed c966b9e4 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  index.html
  ingestion-beam/amplitude-job/index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  search/search_index.json
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Stream support for unnesting events in ParseAmplitudeEvents
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEventsTest.java
Due: ingestion_beam

singletonAllowedEvents initialize in synchronized block
  ingestion-beam/src/main/java/com/mozilla/telemetry/amplitude/ParseAmplitudeEvents.java
Due: ingestion_beam

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
