Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

Prevent IndexOutOfBoundsException in ParseProxy (#2507)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseProxy.java
Due: ingestion_beam

[ci skip] Deployed 7dabc475 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Support FoG pings in contextual services reporter
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ContextualServicesReporterOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/VerifyMetadata.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterByDocTypeTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/VerifyMetadataTest.java
Due: ingestion_beam

chore(doc): Update ingestion diagram and add edit link in svg comment.
  docs/architecture/diagram.svg
Due: none

chore(doc): Update ingestion diagram. (#2490)
  docs/architecture/diagram.mmd
  docs/architecture/diagram.svg
Due: none

[ci skip] Deployed 73c92c0f with MkDocs version: 1.5.3
  architecture/diagram.mmd
  architecture/diagram.svg
  sitemap.xml.gz
Due: none

Bug 1864572 - Scrub com-internet-smartphonebrowser
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1864572 - Scrub com-internet-smartphonebrowser (#2510)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 4f89dbde with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 92020ee9 with MkDocs version: 1.5.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.6c14ae12.min.js
  assets/javascripts/bundle.6c14ae12.min.js.map
  assets/javascripts/bundle.81fa17fe.min.js
  assets/javascripts/bundle.81fa17fe.min.js.map
  assets/stylesheets/main.4b4a2bd9.min.css
  assets/stylesheets/main.4b4a2bd9.min.css.map
  assets/stylesheets/main.fad675c6.min.css
  assets/stylesheets/main.fad675c6.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 521efee6 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 9828dc42 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 61235ec8 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Update Beam SDK to 2.51
  ingestion-beam/src/main/java/com/mozilla/telemetry/util/Json.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParsePayloadTest.java
  pom.xml
Due: ingestion_beam

Update Beam SDK to 2.51 (#2518)
  ingestion-beam/src/main/java/com/mozilla/telemetry/util/Json.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParsePayloadTest.java
  pom.xml
Due: ingestion_beam

[ci skip] Deployed 1deae6d5 with MkDocs version: 1.5.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.6c14ae12.min.js
  assets/javascripts/bundle.6c14ae12.min.js.map
  assets/javascripts/bundle.cd18aaf1.min.js
  assets/javascripts/bundle.cd18aaf1.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 93ffa805 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Revert "Update Beam SDK to 2.51 (#2518)"
  ingestion-beam/src/main/java/com/mozilla/telemetry/util/Json.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParsePayloadTest.java
  pom.xml
Due: ingestion_beam

As of beam 2.44 google-cloud-storage is no longer a test-only dependency
  ingestion-beam/pom.xml
Due: ingestion_beam

As of beam 2.44 google-cloud-storage is no longer a test-only dependency (#2521)
  ingestion-beam/pom.xml
Due: ingestion_beam

[ci skip] Deployed da413b47 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Move google cloud sdks out of test scope
  ingestion-beam/pom.xml
Due: ingestion_beam

Move google cloud sdks out of test scope (#2522)
  ingestion-beam/pom.xml
Due: ingestion_beam

[ci skip] Deployed 9ffc0879 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Support FoG pings in contextual services reporter (#2466)
  ingestion-beam/src/main/java/com/mozilla/telemetry/ContextualServicesReporter.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ContextualServicesReporterOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterByDocType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/VerifyMetadata.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterByDocTypeTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/VerifyMetadataTest.java
Due: ingestion_beam

[ci skip] Deployed 39a2972f with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Change documentation reference telemetry.clients_daily_v6 -> telemetry.clients_daily_joined
  ingestion-beam/src/test/java/com/mozilla/telemetry/util/NormalizeAttributesTest.java
Due: ingestion_beam

Change documentation reference telemetry.clients_daily_v6 -> telemetry.clients_daily_joined (#2525)
  ingestion-beam/src/test/java/com/mozilla/telemetry/util/NormalizeAttributesTest.java
Due: ingestion_beam

[ci skip] Deployed 4d7e90ff with MkDocs version: 1.5.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.cd18aaf1.min.js
  assets/javascripts/bundle.cd18aaf1.min.js.map
  assets/javascripts/bundle.d7c377c4.min.js
  assets/javascripts/bundle.d7c377c4.min.js.map
  assets/stylesheets/main.45e1311d.min.css
  assets/stylesheets/main.45e1311d.min.css.map
  assets/stylesheets/main.fad675c6.min.css
  assets/stylesheets/main.fad675c6.min.css.map
  assets/stylesheets/palette.06af60db.min.css
  assets/stylesheets/palette.06af60db.min.css.map
  assets/stylesheets/palette.356b1318.min.css
  assets/stylesheets/palette.356b1318.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Update documentation to remove reference to PBD
  docs/ingestion-sink/index.md
Due: none

[ci skip] Deployed b0aba7dd with MkDocs version: 1.5.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/stylesheets/main.45e1311d.min.css
  assets/stylesheets/main.45e1311d.min.css.map
  assets/stylesheets/main.50c56a3b.min.css
  assets/stylesheets/main.50c56a3b.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Add support for new searchwith contextual services ping
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
Due: ingestion_beam

Updated version number and arguments of Stub URI parser
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

Update version number of stub URI parser
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

Updated version number and arguments of Stub URI parser (#2538)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
Due: ingestion_beam

[ci skip] Deployed 4b4839fd with MkDocs version: 1.5.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.7389ff0e.min.js
  assets/javascripts/bundle.7389ff0e.min.js.map
  assets/javascripts/bundle.d7c377c4.min.js
  assets/javascripts/bundle.d7c377c4.min.js.map
  assets/javascripts/workers/search.c011b7c0.min.js
  assets/javascripts/workers/search.c011b7c0.min.js.map
  assets/javascripts/workers/search.f886a092.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Emit additional metrics for TopSites
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/EmitCounters.java
Due: ingestion_beam

Emit additional metrics for TopSites (#2535)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/EmitCounters.java
Due: ingestion_beam

[ci skip] Deployed 749f4671 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none
