Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

fix comment
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
Due: ingestion_beam

DENG-392 Add online/offline attribution to the `custom-data` URL param (#2183)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParsedReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/SponsoredInteraction.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed bf8611fc with MkDocs version: 1.4.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.078830c0.min.js
  assets/javascripts/bundle.078830c0.min.js.map
  assets/javascripts/bundle.8492ddcf.min.js
  assets/javascripts/bundle.8492ddcf.min.js.map
  assets/javascripts/lunr/min/lunr.ar.min.js
  assets/javascripts/lunr/min/lunr.ko.min.js
  assets/javascripts/lunr/min/lunr.ta.min.js
  assets/javascripts/lunr/min/lunr.zh.min.js
  assets/javascripts/workers/search.16e2a7d4.min.js
  assets/javascripts/workers/search.16e2a7d4.min.js.map
  assets/javascripts/workers/search.5bf1dace.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed b3cfd5c4 with MkDocs version: 1.4.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 24b7c046 with MkDocs version: 1.4.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 35e94a40 with MkDocs version: 1.4.1
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed e6ee75e6 with MkDocs version: 1.4.1
  sitemap.xml
  sitemap.xml.gz
Due: none

RS-501 Partner codes for Ecosia and Qwant
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

RS-501 Partner codes for Ecosia and Qwant (#2190)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 33af424e with MkDocs version: 1.4.1
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 0e3aaeef with MkDocs version: 1.4.1
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 4bca422c with MkDocs version: 1.4.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed cc5b7843 with MkDocs version: 1.4.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 697ee875 with MkDocs version: 1.4.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 01f49bdf with MkDocs version: 1.4.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed cbf85d9b with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.8492ddcf.min.js
  assets/javascripts/bundle.d6c3db9e.min.js
  assets/javascripts/bundle.d6c3db9e.min.js.map
  assets/stylesheets/main.20d9efc8.min.css
  assets/stylesheets/main.20d9efc8.min.css.map
  assets/stylesheets/main.472b142f.min.css
  assets/stylesheets/main.472b142f.min.css.map
  assets/stylesheets/palette.08040f6c.min.css
  assets/stylesheets/palette.08040f6c.min.css.map
  assets/stylesheets/palette.cbb835fc.min.css
  assets/stylesheets/palette.cbb835fc.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Upgrade ingestion-edge to python 3.11
  .circleci/config.yml
  ingestion-edge/Dockerfile
  ingestion-edge/bin/build
  ingestion-edge/bin/lint
  ingestion-edge/bin/pytest
  ingestion-edge/requirements.txt
  ingestion-edge/tests/integration/publish/helpers.py
  ingestion-edge/tests/unit/publish/test_init_app.py
  ingestion-edge/tests/unit/publish/test_submit.py
Due: ingestion_edge

Upgrade ingestion-edge to python 3.10
  .circleci/config.yml
  ingestion-edge/Dockerfile
  ingestion-edge/bin/build
  ingestion-edge/bin/lint
  ingestion-edge/bin/pytest
  ingestion-edge/ingestion_edge/flush.py
  ingestion-edge/ingestion_edge/flush_manager.py
  ingestion-edge/requirements.in
  ingestion-edge/requirements.txt
  ingestion-edge/tests/flush_manager/conftest.py
  ingestion-edge/tests/load/conftest.py
  ingestion-edge/tests/unit/flush_manager/test_create_job.py
  ingestion-edge/tests/unit/flush_manager/test_delete_complete.py
  ingestion-edge/tests/unit/flush_manager/test_delete_detached.py
  ingestion-edge/tests/unit/flush_manager/test_main.py
  ingestion-edge/tests/unit/publish/test_init_app.py
  ingestion-edge/tests/unit/publish/test_submit.py
Due: ingestion_edge

Upgrade ingestion-edge to python 3.10 (#2199)
  .circleci/config.yml
  ingestion-edge/Dockerfile
  ingestion-edge/bin/build
  ingestion-edge/bin/lint
  ingestion-edge/bin/pytest
  ingestion-edge/ingestion_edge/flush.py
  ingestion-edge/ingestion_edge/flush_manager.py
  ingestion-edge/requirements.in
  ingestion-edge/requirements.txt
  ingestion-edge/tests/flush_manager/conftest.py
  ingestion-edge/tests/load/conftest.py
  ingestion-edge/tests/unit/flush_manager/test_create_job.py
  ingestion-edge/tests/unit/flush_manager/test_delete_complete.py
  ingestion-edge/tests/unit/flush_manager/test_delete_detached.py
  ingestion-edge/tests/unit/flush_manager/test_main.py
  ingestion-edge/tests/unit/publish/test_init_app.py
  ingestion-edge/tests/unit/publish/test_submit.py
Due: ingestion_edge

[ci skip] Deployed 5c2d6ef2 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

Upgrade Sanic for python 3.10 support
  ingestion-edge/Dockerfile
  ingestion-edge/ingestion_edge/create_app.py
  ingestion-edge/ingestion_edge/dockerflow.py
  ingestion-edge/ingestion_edge/flush.py
  ingestion-edge/ingestion_edge/publish.py
  ingestion-edge/pytest.ini
  ingestion-edge/requirements.in
  ingestion-edge/requirements.txt
  ingestion-edge/tests/unit/conftest.py
  ingestion-edge/tests/unit/dockerflow/test_init_app.py
  ingestion-edge/tests/unit/publish/test_init_app.py
  ingestion-edge/tests/unit/publish/test_submit.py
  ingestion-edge/tests/unit/test_wsgi.py
Due: ingestion_edge

Upgrade Sanic for python 3.10 support (#2204)
  ingestion-edge/Dockerfile
  ingestion-edge/ingestion_edge/create_app.py
  ingestion-edge/ingestion_edge/dockerflow.py
  ingestion-edge/ingestion_edge/flush.py
  ingestion-edge/ingestion_edge/publish.py
  ingestion-edge/pytest.ini
  ingestion-edge/requirements.in
  ingestion-edge/requirements.txt
  ingestion-edge/tests/unit/conftest.py
  ingestion-edge/tests/unit/dockerflow/test_init_app.py
  ingestion-edge/tests/unit/publish/test_init_app.py
  ingestion-edge/tests/unit/publish/test_submit.py
  ingestion-edge/tests/unit/test_wsgi.py
Due: ingestion_edge

[ci skip] Deployed a3e0973c with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed e89c3e36 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed ce5180bd with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed f7c276a9 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 3ccce226 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

add python 3.10 pytest deps
  ingestion-edge/requirements.in
  ingestion-edge/requirements.txt
Due: ingestion_edge

[ci skip] Deployed 81a6c6f2 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

allow requirements.txt comments to change
  .circleci/config.yml
Due: none

[ci skip] Deployed 28cf0e3c with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed f1ecd44e with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed ac8b8327 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed a86dcf41 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed ea4b40fa with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

Drop com-max-browser at ingestion
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed b4e82892 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 770b95a0 with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.5a2dcb6a.min.js
  assets/javascripts/bundle.5a2dcb6a.min.js.map
  assets/javascripts/bundle.d6c3db9e.min.js
  assets/javascripts/extra/bundle.5f09fbc3.min.js
  assets/javascripts/extra/bundle.5f09fbc3.min.js.map
  assets/stylesheets/extra.0d2c79a8.min.css
  assets/stylesheets/extra.0d2c79a8.min.css.map
  assets/stylesheets/main.472b142f.min.css
  assets/stylesheets/main.472b142f.min.css.map
  assets/stylesheets/main.975780f9.min.css
  assets/stylesheets/main.975780f9.min.css.map
  assets/stylesheets/palette.08040f6c.min.css
  assets/stylesheets/palette.08040f6c.min.css.map
  assets/stylesheets/palette.2505c338.min.css
  assets/stylesheets/palette.2505c338.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Bug 1804285 - Scrub`com-netsweeper-clientfilter-homeprotectbylgfl`
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam
