Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

lower automation in docs
  docs/architecture/edge_service_specification.md
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Bug 1737861 Tag pings from BrowserStack ISP as automation (#2031)
  docs/architecture/edge_service_specification.md
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

[ci skip] Deployed 4f0d1b30 with MkDocs version: 1.2.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.467223ff.min.js
  assets/javascripts/bundle.467223ff.min.js.map
  assets/javascripts/bundle.e87a5f81.min.js
  assets/javascripts/bundle.e87a5f81.min.js.map
  assets/javascripts/workers/search.5e67fbfe.min.js
  assets/javascripts/workers/search.5e67fbfe.min.js.map
  assets/javascripts/workers/search.bd0b6b67.min.js
  assets/stylesheets/main.2d9f7617.min.css
  assets/stylesheets/main.2d9f7617.min.css.map
  assets/stylesheets/main.9d5733d3.min.css
  assets/stylesheets/main.9d5733d3.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Revert "Bug 1737861 Tag pings from BrowserStack ISP as automation (#2031)"
  docs/architecture/edge_service_specification.md
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Keep docs change
  docs/architecture/edge_service_specification.md
Due: none

Revert "Bug 1737861 Tag pings from BrowserStack ISP as automation" (#2032)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

[ci skip] Deployed 5d95f9af with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 1b72fef0 with MkDocs version: 1.3.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.c44cc438.min.js
  assets/javascripts/bundle.c44cc438.min.js.map
  assets/javascripts/bundle.e87a5f81.min.js
  assets/javascripts/bundle.e87a5f81.min.js.map
  assets/stylesheets/main.644de097.min.css
  assets/stylesheets/main.644de097.min.css.map
  assets/stylesheets/main.9d5733d3.min.css
  assets/stylesheets/main.9d5733d3.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed e73de3f7 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed 0a4c7505 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed eeacdda7 with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 9e1b0f81 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed 1314f9d2 with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 35f7a042 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed 21fb84be with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed 273746c0 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

CONSVC-1636 Temporarily filter to just telemetry name
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterByDocType.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterByDocTypeTest.java
Due: ingestion_beam

CONSVC-1636 Temporarily filter to just telemetry name (#2043)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/FilterByDocType.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/FilterByDocTypeTest.java
Due: ingestion_beam

[ci skip] Deployed 3053d79c with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

Add links to SRE docs for service deployment
  README.md
Due: none

Add links to SRE docs for service deployment (#2047)
  README.md
Due: none

[ci skip] Deployed 6747f692 with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Refactor top-level docs out of README
  README.md
  docs/index.md
Due: none

spelling
  .spelling
Due: none

Refactor top-level docs out of README (#2048)
  .spelling
  README.md
  docs/index.md
Due: none

[ci skip] Deployed 98872626 with MkDocs version: 1.3.0
  index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

[ci skip] Deployed e7600c92 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed f9f7fd2f with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed 0ceb4478 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

marking three more namespaces as unwanted data
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

marking three more namespaces as unwanted data (#2052)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 2aab6e77 with MkDocs version: 1.3.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.6e54b5cd.min.js
  assets/javascripts/bundle.6e54b5cd.min.js.map
  assets/javascripts/bundle.c44cc438.min.js
  assets/javascripts/bundle.c44cc438.min.js.map
  assets/javascripts/workers/search.2a1c317c.min.js
  assets/javascripts/workers/search.2a1c317c.min.js.map
  assets/javascripts/workers/search.5e67fbfe.min.js
  assets/stylesheets/main.120efc48.min.css
  assets/stylesheets/main.120efc48.min.css.map
  assets/stylesheets/main.644de097.min.css
  assets/stylesheets/main.644de097.min.css.map
  assets/stylesheets/palette.9647289d.min.css
  assets/stylesheets/palette.9647289d.min.css.map
  assets/stylesheets/palette.e6a45f82.min.css
  assets/stylesheets/palette.e6a45f82.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 2aab6e77 with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 2aab6e77 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

Bug 1765250 Avoid unroutable messages with missing document_id
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

Bug 1765250 Avoid unroutable messages with missing document_id (#2054)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUri.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUriTest.java
Due: ingestion_beam

[ci skip] Deployed 48e6f860 with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 1656c13d with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed b759f757 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

Update description for new streaming jobs
  docs/ingestion-beam/index.md
Due: none

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
