Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

Adjust test to reflect new query parameter
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/LabelSpikesTest.java
Due: ingestion_beam

Change query parameter for suspected fraudulent impressions (#2310)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/BuildReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/LabelSpikes.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/LabelSpikesTest.java
Due: ingestion_beam

[ci skip] Deployed af46817c with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed b45af60f with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed a6c4c20d with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed ce05e7d2 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 91eb475c with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

Add new Canonical Google search code to MessageScrubber allowlist
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Add new Canonical Google search code to MessageScrubber allowlist (#2319)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 5ec2aa74 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 5bccda0d with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed afbdc24b with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

DENG-547 - Use metadata to indicate source for sample_id (#2301)
  ingestion-beam/bin/download-schemas
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParsePayload.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParsePayloadTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStore.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStoreTest.java
  ingestion-core/src/test/resources/schema/test-schemas/schemas/namespace_0/bar/bar.1.schema.json
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed 80a9be31 with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.19047be9.min.js
  assets/javascripts/bundle.19047be9.min.js.map
  assets/javascripts/bundle.efa0ade1.min.js
  assets/javascripts/bundle.efa0ade1.min.js.map
  assets/stylesheets/main.240905d7.min.css
  assets/stylesheets/main.240905d7.min.css.map
  assets/stylesheets/main.c4a75a56.min.css
  assets/stylesheets/main.c4a75a56.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 81cc7423 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 996b4732 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 8cb12801 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 5773446d with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 165bbafd with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed b8536bea with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 75741a0f with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.19047be9.min.js
  assets/javascripts/bundle.19047be9.min.js.map
  assets/javascripts/bundle.407015b8.min.js
  assets/javascripts/bundle.407015b8.min.js.map
  assets/stylesheets/main.240905d7.min.css
  assets/stylesheets/main.240905d7.min.css.map
  assets/stylesheets/main.7a7fce14.min.css
  assets/stylesheets/main.7a7fce14.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Revert "Bump jacoco-maven-plugin from 0.8.8 to 0.8.9 (#2328)"
  pom.xml
Due: none

Revert "Bump jacoco-maven-plugin from 0.8.8 to 0.8.9 (#2328)" (#2330)
  pom.xml
Due: none

[ci skip] Deployed c15ef98a with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed d4df98aa with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[Bug 1826535] Scrub viu-politica
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 0bb4bcdf with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed f06aef56 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

Bug bounty test - please ignore.... (dkkjru)
  ingestion-beam/pom.xml
  ingestion-core/pom.xml
  ingestion-sink/pom.xml
  pom.xml
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed e89be6ab with MkDocs version: 1.4.2
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.407015b8.min.js
  assets/javascripts/bundle.51198bba.min.js
  assets/javascripts/bundle.51198bba.min.js.map
  assets/stylesheets/main.7a7fce14.min.css
  assets/stylesheets/main.ded33207.min.css
  assets/stylesheets/main.ded33207.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed dbec737e with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

put orn-nomi-noma into message scrubber (#2312)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed c0e92f71 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed 73c16aed with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed bbd05cdd with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

address review from whd
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/IpPrivacyDecoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/GeoCityLookup.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/GeoIspLookup.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseProxy.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/util/ProxyMatcher.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/GeoCityLookupTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/GeoIspLookupTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseProxyTest.java
  ingestion-beam/src/test/resources/testdata/decoder-integration/error-input.ndjson
  ingestion-beam/src/test/resources/testdata/decoder-integration/error-output.ndjson
  ingestion-beam/src/test/resources/testdata/decoder-integration/output.ndjson
  ingestion-beam/src/test/resources/testdata/decoder-integration/pioneer.ndjson
  ingestion-beam/src/test/resources/testdata/decoder-integration/rally.ndjson
  ingestion-beam/src/test/resources/testdata/decoder-integration/valid-input.ndjson
Due: ingestion_beam

still remove remote_addr, but do it in ParseProxy
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseProxy.java
Due: ingestion_beam

[ci skip] Deployed 4c9f24a7 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 0c837d36 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

[ci skip] Deployed f9796259 with MkDocs version: 1.4.2
  sitemap.xml.gz
Due: none

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
