Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

[ci skip] Deployed ad39a6c1 with MkDocs version: 1.3.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.0f659f14.min.js
  assets/javascripts/bundle.0f659f14.min.js.map
  assets/javascripts/bundle.3a4b43e5.min.js
  assets/javascripts/bundle.3a4b43e5.min.js.map
  assets/javascripts/workers/search.2a1c317c.min.js.map
  assets/javascripts/workers/search.b028fd86.min.js
  assets/javascripts/workers/search.b028fd86.min.js.map
  assets/stylesheets/main.1c3799f8.min.css
  assets/stylesheets/main.1c3799f8.min.css.map
  assets/stylesheets/main.fd896c8a.min.css
  assets/stylesheets/main.fd896c8a.min.css.map
  assets/stylesheets/palette.cbb835fc.min.css
  assets/stylesheets/palette.cbb835fc.min.css.map
  assets/stylesheets/palette.cc9b2e1e.min.css
  assets/stylesheets/palette.cc9b2e1e.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 114ac5c8 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

unpin pubsub
  ingestion-sink/pom.xml
Due: ingestion_sink

[ci skip] Deployed fe26ee43 with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed e1fbf569 with MkDocs version: 1.3.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.0f659f14.min.js
  assets/javascripts/bundle.0f659f14.min.js.map
  assets/javascripts/bundle.f758a944.min.js
  assets/javascripts/bundle.f758a944.min.js.map
  assets/stylesheets/main.4a0965b7.min.css
  assets/stylesheets/main.4a0965b7.min.css.map
  assets/stylesheets/main.fd896c8a.min.css
  assets/stylesheets/main.fd896c8a.min.css.map
  assets/stylesheets/palette.cbb835fc.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 07feec8f with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

Accept "top_site" metric category for iOS impressions
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Ignore test for now due to user agent parsing issue
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Accept "top_site" metric category for iOS impressions (#2100)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

[ci skip] Deployed c1780747 with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Infer OS from namespace for iOS devices
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Infer OS from namespace for iOS devices (#2102)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

[ci skip] Deployed 10f1e445 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed b167b69e with MkDocs version: 1.3.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/workers/search.85cb4492.min.js
  assets/javascripts/workers/search.85cb4492.min.js.map
  assets/javascripts/workers/search.b028fd86.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed aead3f3c with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed bc54ad3b with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed 15105be1 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed 285ff48c with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

Add links to batch Contextual Services data flows
  docs/ingestion-beam/contextual-services-job.md
Due: none

Lint and spelling
  docs/ingestion-beam/contextual-services-job.md
Due: none

Add links to batch Contextual Services data flows (#2108)
  docs/ingestion-beam/contextual-services-job.md
Due: none

[ci skip] Deployed 46f7db0b with MkDocs version: 1.3.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.431f3d41.min.js
  assets/javascripts/bundle.431f3d41.min.js.map
  assets/javascripts/bundle.f758a944.min.js
  assets/javascripts/bundle.f758a944.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 27a0ede9 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed db5acccd with MkDocs version: 1.3.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.0238f547.min.js
  assets/javascripts/bundle.0238f547.min.js.map
  assets/javascripts/bundle.431f3d41.min.js
  assets/javascripts/bundle.431f3d41.min.js.map
  assets/javascripts/workers/search.85cb4492.min.js.map
  assets/javascripts/workers/search.b97dbffb.min.js
  assets/javascripts/workers/search.b97dbffb.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed f3a42a15 with MkDocs version: 1.3.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/stylesheets/main.1d29e8d0.min.css
  assets/stylesheets/main.1d29e8d0.min.css.map
  assets/stylesheets/main.4a0965b7.min.css
  assets/stylesheets/main.4a0965b7.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 3d0800ff with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed d161ae62 with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

added org-mozilla-firefrd to ignored namespaces
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 92d4fc94 with MkDocs version: 1.3.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.0238f547.min.js
  assets/javascripts/bundle.0238f547.min.js.map
  assets/javascripts/bundle.6c7ad80a.min.js
  assets/javascripts/bundle.6c7ad80a.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 2654b928 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed abe83a6a with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed 189e79a3 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed 9883c5ae with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

CONSVC 1872: Share quicksuggest pings for all scenarios
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

f lint
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

CONSVC 1872: Share quicksuggest pings for all scenarios (#2123)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

[ci skip] Deployed b9f6030d with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Bug 1779801 - mark pings sent from rally-markup-fb-pixel-hunt as UnwantedData
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

added org-mozilla-firefrd to ignored namespaces (#2119)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed f7bdd5b5 with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
