Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

[Bug 1997452] Mark regrets report data as unwanted
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Update ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed d363d6e2 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

DENG-9533 - Support ingesting Glean server pings submitted directly to Pub/Sub
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ExtractIpFromDirectPubsub.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseDirectPubsub.java
Due: ingestion_beam

Add tests
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ExtractIpFromDirectPubsubTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseDirectPubsubTest.java
  ingestion-beam/src/test/resources/testdata/directpubsub.ndjson
  ingestion-beam/src/test/resources/testdata/directpubsub_malformed.ndjson
Due: ingestion_beam

Scrub com-feifan-browser and com-dykt-fenix
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[Bug 1999796] Scrub com-feifan-browser and com-dykt-fenix
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 6765d860 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.e71a0d61.min.js
  assets/javascripts/bundle.e71a0d61.min.js.map
  assets/javascripts/bundle.f55a23d4.min.js
  assets/javascripts/bundle.f55a23d4.min.js.map
  assets/javascripts/workers/search.7a47a382.min.js
  assets/javascripts/workers/search.7a47a382.min.js.map
  assets/javascripts/workers/search.973d3a69.min.js
  assets/javascripts/workers/search.973d3a69.min.js.map
  assets/stylesheets/main.618322db.min.css
  assets/stylesheets/main.618322db.min.css.map
  assets/stylesheets/main.84d31ad4.min.css
  assets/stylesheets/main.84d31ad4.min.css.map
  assets/stylesheets/palette.06af60db.min.css
  assets/stylesheets/palette.06af60db.min.css.map
  assets/stylesheets/palette.ab4e12ef.min.css
  assets/stylesheets/palette.ab4e12ef.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  search/search_index.json
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Bug 2000247 - Block experimenter-backend pings
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 2000247 - Block experimenter-backend pings (#2859)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 87016d50 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Bug 2000247 - Unblock experimenter-backend pings
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 2000247 - Unblock experimenter-backend pings (#2860)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed e9986ac3 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Added missing namespaces
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Added missing namespaces (#2862)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed bea9c563 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

DENG-10293 - Fix null ip_address handling in Logging Decoder
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ExtractIpFromLogEntry.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ExtractIpFromLogEntryTest.java
  ingestion-beam/src/test/resources/testdata/logentry_null_ip.ndjson
Due: ingestion_beam

DENG-10293 - Fix null ip_address handling in Logging Decoder (#2863)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ExtractIpFromLogEntry.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ExtractIpFromLogEntryTest.java
  ingestion-beam/src/test/resources/testdata/logentry_null_ip.ndjson
Due: ingestion_beam

[ci skip] Deployed dccd6312 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed b6406b0e with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Scrub apps
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 86d85570 with MkDocs version: 1.6.1
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.79ae519e.min.js
  assets/javascripts/bundle.79ae519e.min.js.map
  assets/javascripts/bundle.e71a0d61.min.js
  assets/javascripts/workers/search.2c215733.min.js
  assets/javascripts/workers/search.2c215733.min.js.map
  assets/javascripts/workers/search.7a47a382.min.js
  assets/stylesheets/main.484c7ddc.min.css
  assets/stylesheets/main.484c7ddc.min.css.map
  assets/stylesheets/main.618322db.min.css
  assets/stylesheets/main.618322db.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Scrub more apps
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Scrub more apps (#2871)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 74b4909c with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 4e6fc8c1 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

[ci skip] Deployed 51506f72 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Fix ExtractIpFromLogEntryTest failing locally
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ExtractIpFromLogEntryTest.java
Due: ingestion_beam

Fix ExtractIpFromLogEntryTest failing locally (#2874)
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ExtractIpFromLogEntryTest.java
Due: ingestion_beam

[ci skip] Deployed e0859285 with MkDocs version: 1.6.1
  sitemap.xml.gz
Due: none

Fix system-rules test failures on modern JVMs
  pom.xml
Due: none

Fix system-rules test failures on modern JVMs (#2876)
  pom.xml
Due: none

Fix Eclipse formatter version
  pom.xml
Due: none

Reformat
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseUserAgent.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/options/BigQueryReadMethod.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/options/BigQueryWriteMethod.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/options/ErrorOutputType.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/options/OutputType.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/LabelSpikesTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseUserAgentTest.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/config/SinkConfig.java
Due: ingestion_beam, ingestion_sink

Path conditions:
  ingestion_beam: any of: ingestion-beam/.*, ingestion-core/.*
  ingestion_core: any of: ingestion-core/.*
  ingestion_edge: any of: ingestion-edge/.*
  ingestion_sink: any of: ingestion-core/.*, ingestion-sink/.*
