Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

CONSVC-1764 Add heuristic to handle a specific fraud signature
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/VerifyMetadata.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/VerifyMetadataTest.java
Due: ingestion_beam

Remove explicit versioning of google-cloud-pubsublite (#2067)
  ingestion-sink/pom.xml
Due: ingestion_sink

[ci skip] Deployed 803e7b99 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed c3e0d983 with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

CONSVC-1764 Add heuristic to handle a specific fraud signature (#2068)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/VerifyMetadata.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/VerifyMetadataTest.java
Due: ingestion_beam

[ci skip] Deployed 10daa68e with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

Scrub apps
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed bb281c0e with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed b23cf287 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed b7c33cf8 with MkDocs version: 1.3.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.748e2769.min.js
  assets/javascripts/bundle.748e2769.min.js.map
  assets/javascripts/bundle.ed9748b7.min.js
  assets/javascripts/bundle.ed9748b7.min.js.map
  assets/stylesheets/main.8c5ef100.min.css
  assets/stylesheets/main.8c5ef100.min.css.map
  assets/stylesheets/main.e411adfe.min.css
  assets/stylesheets/main.e411adfe.min.css.map
  assets/stylesheets/palette.9647289d.min.css
  assets/stylesheets/palette.9647289d.min.css.map
  assets/stylesheets/palette.cc9b2e1e.min.css
  assets/stylesheets/palette.cc9b2e1e.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Forcbily downgrade google-cloud-pubsub to 1.115.5
  ingestion-sink/pom.xml
Due: ingestion_sink

Forcbily downgrade google-cloud-pubsub to 1.115.5 (#2074)
  ingestion-sink/pom.xml
Due: ingestion_sink

[ci skip] Deployed 79596648 with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

CONSVC-1777 Require "online" scenario for sending suggest pings
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

Fixup test
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

CONSVC-1777 Require "online" scenario for sending suggest pings (#2075)
  ingestion-beam/src/main/java/com/mozilla/telemetry/contextualservices/ParseReportingUrl.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/contextualservices/ParseReportingUrlTest.java
Due: ingestion_beam

[ci skip] Deployed 55df9d83 with MkDocs version: 1.3.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.c2e1ee47.min.js
  assets/javascripts/bundle.c2e1ee47.min.js.map
  assets/javascripts/bundle.ed9748b7.min.js
  assets/javascripts/bundle.ed9748b7.min.js.map
  assets/stylesheets/main.3de6f41f.min.css
  assets/stylesheets/main.3de6f41f.min.css.map
  assets/stylesheets/main.e411adfe.min.css
  assets/stylesheets/main.e411adfe.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 9c604b0f with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed 3e4d76ab with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed e4ed8d31 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

Update known bad versions of google-cloud-pubsub
  ingestion-sink/pom.xml
Due: ingestion_sink

Update known bad versions of google-cloud-pubsub (#2080)
  ingestion-sink/pom.xml
Due: ingestion_sink

[ci skip] Deployed f888da7b with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 1d9f6c02 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed c9b2087c with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed adde8f2e with MkDocs version: 1.3.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.a6c66575.min.js
  assets/javascripts/bundle.a6c66575.min.js.map
  assets/javascripts/bundle.c2e1ee47.min.js
  assets/javascripts/bundle.c2e1ee47.min.js.map
  assets/stylesheets/main.3de6f41f.min.css
  assets/stylesheets/main.3de6f41f.min.css.map
  assets/stylesheets/main.c382b1dc.min.css
  assets/stylesheets/main.c382b1dc.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 4e17930e with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

Bump google-cloud-pubsub from 1.115.5 to 1.118.0
  ingestion-sink/pom.xml
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/PubsubReadIntegrationTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/util/PubsubTopics.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/util/SinglePubsubTopic.java
Due: ingestion_sink

[ci skip] Deployed b9bae1bb with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 83de52db with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

Fix doc string errors
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/util/Json.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/transform/PubsubMessageToTemplatedString.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed 4d0149f8 with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

Bump google-cloud-pubsub from 1.115.5 to 1.118.0 (#2087)
  ingestion-sink/pom.xml
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/io/PubsubReadIntegrationTest.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/util/PubsubTopics.java
  ingestion-sink/src/test/java/com/mozilla/telemetry/ingestion/sink/util/SinglePubsubTopic.java
Due: ingestion_sink

[ci skip] Deployed 421dd991 with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 6f1f0e3e with MkDocs version: 1.3.0
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.3a4b43e5.min.js
  assets/javascripts/bundle.3a4b43e5.min.js.map
  assets/javascripts/bundle.a6c66575.min.js
  assets/javascripts/bundle.a6c66575.min.js.map
  assets/stylesheets/main.1c3799f8.min.css
  assets/stylesheets/main.1c3799f8.min.css.map
  assets/stylesheets/main.c382b1dc.min.css
  assets/stylesheets/main.c382b1dc.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed bdd752a2 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

Fix doc string errors (#2089)
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/util/Json.java
  ingestion-sink/src/main/java/com/mozilla/telemetry/ingestion/sink/transform/PubsubMessageToTemplatedString.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed 4e8ef2a3 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

[ci skip] Deployed ac5cbe09 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none
