Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

[ci skip] Deployed 962b313f with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[Bug 1826535] Scrub viu-politica (#2335)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed c7cafdd6 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

Bug 1834366 - remove namespace
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 2a401eea with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

Drop com-freespoke-app as unwanted data
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1834366 - remove namespace (#2385)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 51091155 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

Add support for moving a subset of fields to separate pings
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParsePayload.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/schema/SchemaStoreSingletonFactory.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParsePayloadTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStore.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/schema/JSONSchemaStoreTest.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStoreTest.java
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/destroy/destroy.1.schema.json
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/preserve/preserve.1.schema.json
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/remainder/remainder.1.schema.json
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/subset/subset.1.schema.json
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed 9911895c with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

Scrub apps
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed f45b3a15 with MkDocs version: 1.4.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.a51614de.min.js
  assets/javascripts/bundle.a51614de.min.js.map
  assets/javascripts/bundle.b4d07000.min.js
  assets/javascripts/bundle.b4d07000.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed bd3cec91 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 379fd392 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 4e96ac37 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed e007d093 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

Pin python docker image to debian buster
  ingestion-edge/Dockerfile
Due: ingestion_edge

Pin python docker image to debian buster (#2392)
  ingestion-edge/Dockerfile
Due: ingestion_edge

[ci skip] Deployed 6be059ee with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

Add support for moving a subset of fields to separate pings (#2380)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParsePayload.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/schema/SchemaStoreSingletonFactory.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParsePayloadTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStore.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/schema/JSONSchemaStoreTest.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStoreTest.java
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/destroy/destroy.1.schema.json
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/preserve/preserve.1.schema.json
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/remainder/remainder.1.schema.json
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/subset/subset.1.schema.json
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed 3eb47c26 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

Revert "Add support for moving a subset of fields to separate pings (#2380)"
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParsePayload.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/schema/SchemaStoreSingletonFactory.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParsePayloadTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStore.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/schema/JSONSchemaStoreTest.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStoreTest.java
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/destroy/destroy.1.schema.json
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/preserve/preserve.1.schema.json
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/remainder/remainder.1.schema.json
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/subset/subset.1.schema.json
Due: ingestion_beam, ingestion_core, ingestion_sink

Revert "Add support for moving a subset of fields to separate pings (#2380)" (#2393)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParsePayload.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/schema/SchemaStoreSingletonFactory.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParsePayloadTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStore.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/schema/JSONSchemaStoreTest.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStoreTest.java
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/destroy/destroy.1.schema.json
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/preserve/preserve.1.schema.json
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/remainder/remainder.1.schema.json
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/subset/subset.1.schema.json
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed c03cd658 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

Revert "Revert "Add support for moving a subset of fields to separate pings (#2380)" (#2393)"
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParsePayload.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/schema/SchemaStoreSingletonFactory.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParsePayloadTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStore.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/schema/JSONSchemaStoreTest.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStoreTest.java
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/destroy/destroy.1.schema.json
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/preserve/preserve.1.schema.json
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/remainder/remainder.1.schema.json
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/subset/subset.1.schema.json
Due: ingestion_beam, ingestion_core, ingestion_sink

Don't validate schema for subset and remainder
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParsePayload.java
Due: ingestion_beam

Simplify proxy handling (#2271)
  docs/architecture/edge_service_specification.md
  docs/architecture/overview.md
  docs/ingestion-beam/decoder-job.md
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/IpPrivacyDecoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/GeoCityLookup.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/GeoIspLookup.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseProxy.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/GeoCityLookupTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/GeoIspLookupTest.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseProxyTest.java
  ingestion-beam/src/test/resources/testdata/decoder-integration/error-input.ndjson
  ingestion-beam/src/test/resources/testdata/decoder-integration/output.ndjson
  ingestion-beam/src/test/resources/testdata/decoder-integration/pioneer.ndjson
  ingestion-beam/src/test/resources/testdata/decoder-integration/rally.ndjson
  ingestion-beam/src/test/resources/testdata/decoder-integration/valid-input.ndjson
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/Constant.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/transform/PubsubMessageToObjectNodeBeamTest.java
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed e9edfd30 with MkDocs version: 1.4.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.a51614de.min.js
  assets/javascripts/bundle.a51614de.min.js.map
  assets/javascripts/bundle.b425cdc4.min.js
  assets/javascripts/bundle.b425cdc4.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  search/search_index.json
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

Add support for moving a subset of fields to separate pings (#2394)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParsePayload.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/schema/SchemaStoreSingletonFactory.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParsePayloadTest.java
  ingestion-core/src/main/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStore.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/schema/JSONSchemaStoreTest.java
  ingestion-core/src/test/java/com/mozilla/telemetry/ingestion/core/schema/PipelineMetadataStoreTest.java
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/destroy/destroy.1.schema.json
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/preserve/preserve.1.schema.json
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/remainder/remainder.1.schema.json
  ingestion-core/src/test/resources/schema/test-schemas/schemas/test_split/subset/subset.1.schema.json
Due: ingestion_beam, ingestion_core, ingestion_sink

[ci skip] Deployed 8940e7d2 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed d32aa81a with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 9f562b03 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed c19f823e with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 878af91b with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none

FXA-7921 - Add support for ingesting Cloud Logging messages
  ingestion-beam/src/main/java/com/mozilla/telemetry/Decoder.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/DecoderOptions.java
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/ParseLogEntry.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/ParseLogEntryTest.java
  ingestion-beam/src/test/resources/testdata/logentry.ndjson
Due: ingestion_beam

Bug 1841614 - Scrub org-immersivel-firefox
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

[ci skip] Deployed 16c6caf2 with MkDocs version: 1.4.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.220ee61c.min.js
  assets/javascripts/bundle.220ee61c.min.js.map
  assets/javascripts/bundle.b425cdc4.min.js
  assets/javascripts/bundle.b425cdc4.min.js.map
  assets/javascripts/workers/search.74e28a9f.min.js
  assets/javascripts/workers/search.74e28a9f.min.js.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 7baaa745 with MkDocs version: 1.4.3
  sitemap.xml.gz
Due: none
