Repository mozilla/gcp-ingestion: changes, and which Codecov flags are due for each by the changed paths.
All: ingestion_beam, ingestion_core, ingestion_edge, ingestion_sink

codecov.yml:

flags:
  ingestion_beam:
    paths:
    - ingestion-beam/.*
    - ingestion-core/.*
    carryforward: true
  ingestion_core:
    paths:
    - ingestion-core/.*
    carryforward: true
  ingestion_edge:
    paths:
    - ingestion-edge/.*
    carryforward: true
  ingestion_sink:
    paths:
    - ingestion-core/.*
    - ingestion-sink/.*
    carryforward: true

Use Lists
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Use regexes
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

More precise regex
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Import order
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Use named capture groups
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1751753 Sanitize search engine codes (#1956)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

[ci skip] Deployed b19713b4 with MkDocs version: 1.2.3
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed ef389e03 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

Update GeoNameId from Integer to Long
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/GeoCityLookup.java
Due: ingestion_beam

[ci skip] Deployed 7f1a1d2e with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 5a7f0e18 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 3edc3498 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

Bug 1751955 Sanitize search codes on ingestion for mobile telemetry
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Apply suggestions from code review
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Narrow down by target namespaces
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Handle channel sanitization
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Use other-scrubbed as mobile sanitized value
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Rename constant
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1751955 Sanitize search codes on ingestion for mobile telemetry (#1961)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

[ci skip] Deployed 27b33fe5 with MkDocs version: 1.2.3
  sitemap.xml
  sitemap.xml.gz
Due: none

Bug 1751955 Fix edge cases for mobile search key sanitization
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Refactor to separate allowed codes for desktop vs. mobile
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Checkstyle
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
Due: ingestion_beam

Bug 1751955 Fix edge cases for mobile search key sanitization (#1962)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

[ci skip] Deployed 479e5052 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

Bug 1752178 Allow DDG organic codes
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

Bug 1752178 Allow DDG organic codes (#1963)
  ingestion-beam/src/main/java/com/mozilla/telemetry/decoder/MessageScrubber.java
  ingestion-beam/src/test/java/com/mozilla/telemetry/decoder/MessageScrubberTest.java
Due: ingestion_beam

[ci skip] Deployed dd23539a with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 4b6c40c3 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 6f52f5d9 with MkDocs version: 1.2.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/stylesheets/main.2b4465f4.min.css
  assets/stylesheets/main.2b4465f4.min.css.map
  assets/stylesheets/main.6e60f8b8.min.css
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 0ade16ed with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 637724c5 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 53e217c8 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed c8f6b350 with MkDocs version: 1.2.3
  sitemap.xml
  sitemap.xml.gz
Due: none

[ci skip] Deployed 09ac11a3 with MkDocs version: 1.2.3
  404.html
  architecture/bigquery_sink_specification/index.html
  architecture/decoder_service_specification/index.html
  architecture/differences_from_aws/index.html
  architecture/edge_migration_plan/index.html
  architecture/edge_service_specification/index.html
  architecture/landfill_service_specification/index.html
  architecture/overview/index.html
  architecture/pain_points/index.html
  architecture/reliability/index.html
  architecture/test_requirements/index.html
  assets/javascripts/bundle.960e086b.min.js
  assets/javascripts/bundle.960e086b.min.js.map
  assets/javascripts/bundle.e3b2bf44.min.js
  assets/javascripts/bundle.e3b2bf44.min.js.map
  assets/javascripts/workers/search.092fa1f6.min.js
  assets/javascripts/workers/search.092fa1f6.min.js.map
  assets/stylesheets/main.2b4465f4.min.css
  assets/stylesheets/main.2b4465f4.min.css.map
  assets/stylesheets/main.d6be258b.min.css
  assets/stylesheets/main.d6be258b.min.css.map
  index.html
  ingestion-beam/contextual-services-job/index.html
  ingestion-beam/decoder-job/index.html
  ingestion-beam/index.html
  ingestion-beam/ingestion_testing_workflow/index.html
  ingestion-beam/rally-job/index.html
  ingestion-beam/republisher-job/index.html
  ingestion-beam/sink-job/index.html
  ingestion-edge/index.html
  ingestion-sink/index.html
  sitemap.xml
  sitemap.xml.gz
Due: ingestion_beam, ingestion_edge, ingestion_sink

[ci skip] Deployed 955e3f69 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed ebf21ea3 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

update pytest private type path
  ingestion-edge/tests/integration/publish/test_flush.py
Due: ingestion_edge

[ci skip] Deployed f80a39b4 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

[ci skip] Deployed 84774868 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none
